@media screen and (max-width: 1162px){
	.mainmenu ul li a {
	    font-size: 0.8rem;
	}	
}

/*for laptop*/
@media screen and (max-width: 1025px){
	.mid-container {
	    width: 84%;
	}
	.logo img {
	    width: 100%;
	}
	.banner-box {
	    padding: 4rem 0;
	}
	.banner-box h2 {
	    font-size: 2rem;
	}
	.banner-box h5, .banner-box p {
	    font-size: 1rem;
	}
	.feat-item img {
	    width: 100%;
	}
	.title.tl h2, .wb-content h3 {
	    font-size: 1.5rem;
	}
	.wb-content p {
	    font-size: 1rem;
	}
	a.lbtn {
	    font-size: 0.8rem;
	}
	.ftimg img {
	    width: 80%;
	}
	.ft-cont h4 {
	    font-size: 1.5rem;
	}
	.ft-cont p {
	    font-size: 1rem;
	}
}

@media screen and (max-width: 980px){
	.mainmenu{
		display: none;
	}
	.mobilemenu{
		display: flex;
	    justify-content: flex-end;
	}
}

/*tablet device*/
@media screen and (max-width: 769px){
	.logo img {
	    width: 60%;
	}
	.wb-content {
	    width: 100%;
	}
	.expert-box {
	    position: unset;
	    width: 50%;
	    margin: 0 auto;
	}
	.scard h2 {
	    font-size: 1.5rem;
	}
	.scard p {
	    font-size: 1rem;
	}
	.banner-box h2 {
	    font-size: 1.4rem;
	}
	.banner-box h5, .banner-box p {
	    font-size: 0.8rem;
	}
	a.pbtn {
	    margin-top: 0;
	    font-size: 0.7rem;
	}
	.banner-box h5 {
	    margin: 0;
	}
}

/*mobile large*/
@media screen and (max-width: 426px){
	section.banner{
		background-size: unset;
	}
	.expert-box {
	    width: 100%;
	}
	.word-box {
	    padding: 2rem;
	}
	h3.subhead {
		font-size: 1rem;
	    margin-bottom: 1rem;
	}
	.title h2 {
	    font-size: 1.3rem;
	}
	#big .item{
		padding: 2rem;
	}
	.tes-item h3 {
	    font-size: 1.1rem;
	}
	.foot-item {
	    margin: 1rem 0;
	}
	.bottom ul {
	    display: unset;
	}
	.social ul{
		justify-content: flex-start;
	}
	.social ul li{
		margin-right: 1rem;
		margin-left: 0;
	}
	.ftimg, .ftdesc {
	    width: 100%;
	}
	.pull{
		flex-direction: column-reverse;
	}
}