{% extends 'layout/_layout.twig' %} {% block title %} Blogs - TrustGenic {%
endblock %} {% block stylesheets %} {% endblock %} {% block javascripts %} {%
endblock %} {% block contents %}

<!-- Contact Section Start -->
<section class="blogs">
  <div class="wrapper">
    <div class="latest__blog">
      <div class="banner">
        <a href="./blog-detail"> <img src="./img/blog1.jpg" alt="" /></a>
      </div>
      <div class="blog__meta">
        <span class="blog__date"> March 26, 2020</span>
        <h2>
          <a href="./blog-detail">
            Why to set up Business in UAE? ( THE LAND OF OPPORTUNITY)</a
          >
        </h2>
        <p>
          To start any business one need resources (financial resources, energy
          resources, human resources), Infrastructure, Transportation, Buyers
          and above all secure and safe place. Let’s know a little about UAE –
          Despite its strategic location, the UAE back in 1971 was
        </p>
        <div class="author">
          <img src="./img/avat.jpg" alt="" />
          <span>John Doe</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="blog__item">
          <div class="banner">
            <a href="./blogs-detail"> <img src="./img/blog2.jpg" alt="" /></a>
          </div>
          <div class="blog__meta">
            <span class="blog__date"> June 11, 2020</span>
            <h2>
              <a href="./blogs-detail"> Mainland Company Formation</a>
            </h2>
            <p>
              WHY TO HAVE A BUSINESS SET UP IN DUBAI MAINLAND ? Dubai is a city
              and emirate in the United Arab Emirates known for luxury shopping,
              ultramodern architecture and a lively nightlife scene. Dubai aims
              to be the business hub of Western Asia. It is also a major global
              transport hub for passengers and cargo. Oil revenue helped
              accelerate the development of the city, which was already a major
              mercantile hub. Today, less than 5% of the emirate'
            </p>
            <div class="author">
              <img src="./img/avat.jpg" alt="" />
              <span>John Doe</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="blog__item">
          <div class="banner">
            <a href="./blogs-detail"> <img src="./img/blog2.jpg" alt="" /></a>
          </div>
          <div class="blog__meta">
            <span class="blog__date"> June 11, 2020</span>
            <h2>
              <a href="./blogs-detail"> Mainland Company Formation</a>
            </h2>
            <p>
              WHY TO HAVE A BUSINESS SET UP IN DUBAI MAINLAND ? Dubai is a city
              and emirate in the United Arab Emirates known for luxury shopping,
              ultramodern architecture and a lively nightlife scene. Dubai aims
              to be the business hub of Western Asia. It is also a major global
              transport hub for passengers and cargo. Oil revenue helped
              accelerate the development of the city, which was already a major
              mercantile hub. Today, less than 5% of the emirate'
            </p>
            <div class="author">
              <img src="./img/avat.jpg" alt="" />
              <span>John Doe</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
