{% extends 'layout/_layout.twig' %} {% block title %} Contact - TrustGenic {%
endblock %} {% block stylesheets %} {% endblock %} {% block javascripts %} {%
endblock %} {% block contents %}

<!-- Contact Section Start -->
<section class="contact">
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14433.59302159847!2d55.299016!3d25.257185!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3cd02316226bd228!2sTrust%20Genic%20Documents%20Clearing%20Services!5e0!3m2!1sen!2sin!4v1614757025700!5m2!1sen!2sin"
      width="100%"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
    <div class="contact__form">
      <div class="packer">
        <h3>Need A Quick Query</h3>
        <form>
          <div class="form__item form__flex">
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="E-mail" />
          </div>
          <div class="form__item">
            <input type="text" placeholder="Phone Number" />
          </div>
          <div class="form__item">
            <textarea name="" id="" placeholder="Your Message Here"></textarea>
          </div>
          <div class="form__item">
            <button type="submit" class="btn second__btn">Submit Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="contact__info">
          <h3>How to Find Us</h3>
          <p>
            If you have any question, just fill in the contact form and we will
            get back to you shortly. You can also visit to our office which is
            at very convenient location
          </p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="contact__info">
          <h4>Headquarters</h4>
          <ul>
            <li>
              P.O.BOX 111224 OFFICE NO. 110, ATRIUM CENTER, KHALID BIN WALEED
              ST. BUR DUBAI
            </li>
            <li>
              Telephone : <a href="tel:+971 4 327 1664">+971 4 327 1664</a>
            </li>
            <li>
              E-mail :
              <a href="mailto:info@trustgenic.com"> info@trustgenic.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
