{% extends 'layout/_layout.twig' %} {% block title %} Subpage - TrustGenic {%
endblock %} {% block stylesheets %} {% endblock %} {% block javascripts %} {%
endblock %} {% block contents %}

<!-- Contact Section Start -->
<section class="subpage">
  <div class="wrapper">
    <div class="head__title">
      <h3>Ajman Free Zone (AFZ)</h3>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="tabs__section">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="activity-tab"
                data-bs-toggle="tab"
                data-bs-target="#activity"
                type="button"
                role="tab"
                aria-controls="activity"
                aria-selected="true"
              >
                Activity & Benefits
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="facility-tab"
                data-bs-toggle="tab"
                data-bs-target="#facility"
                type="button"
                role="tab"
                aria-controls="facility"
                aria-selected="false"
              >
                Facility & Advantage
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="process-tab"
                data-bs-toggle="tab"
                data-bs-target="#process"
                type="button"
                role="tab"
                aria-controls="process"
                aria-selected="false"
              >
                Process & Time
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="activity"
            role="tabpanel"
            aria-labelledby="activity-tab"
          >
            <div class="contents">
              <p>
                After setting up your mind to forming a business, you need to
                choose an appropriate business activity according to your
                knowledge and experience. Ajman Free Zone offers wide range of
                business licenses for business setup to meet your requirements
                from starting a new business to setting up industry. AFZA also
                allows forming a branch of local company in mainland or foreign
                company.
              </p>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="facility"
            role="tabpanel"
            aria-labelledby="facility-tab"
          >
            <div class="contents">
              <p>
                Facilities Smart Offices: Smart offices provided by AFZA are
                suitable as a smart investment for entrepreneurs. The prices are
                very low and affordable. With the package of smart office you
                get two employment visas and numerous benefits provided by AFZA
                for an excellent return on investment. Executive Offices:
                Executed offices are strategically located and easy to operate
                business depending on the size needed. On thesepackage
                entrepreneur can get 5 employment visas and excellent
                facilities, easy parking and security. Warehouse: AFZA
                provideshigh quality warehouses with all service facilities and
                specifications which is designed according to the need of
                investor. Warehouses are starting from area of 100 square meters
                and prices starting from AED 250 per square meters. Lands: For
                those entrepreneurs who are willing for industrial investment,
                lands are provided by searching accurate need of investors.
                Advantages: 100% ownership of establishment/company. Easy
                transfer of capital and profits. Exemption from all taxes
                including import and export. Competitive prices on facility
                usage. Fast and easy procedures and in most cases get the
                license within 24 hours. Eligible to open bank accounts.
                Eligible to apply for residence visa for investor and its
                employee. Eligible to apply visa for dependent. Offers lease
                period up to 20 years and renewable to 20 more years.
                Inexpensive uninterrupted energy available for industries.
                Availability of modern infrastructure. Stable business
                environment. Healthy and strong infrastructure including strong
                connectivity through network of highways. Access to major sea
                and airports of country. Adjacent to Ajman sea port which
                connects it to international markets. Eligible to expand
                business internationally. Can use the Dubai’s seaports and
                airports for shipment of goods by registering company in Dubai
                custom.
              </p>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="process"
            role="tabpanel"
            aria-labelledby="process-tab"
          >
            <div class="contents">
              <p>
                Day 1 – Submit required documents and 3 preferred Company name
                to Trust Genic and make payment. Day 2 – Company name approvals
                carried out in Ajman Free Zone by Trust Genic. Day 3 – Arrive at
                Trust Genic office before 12 pm to represent yourself in Ajman
                Free Zone by our representative to sign company incorporation
                documents in front of a Free Zone officer. If document and
                payment made before 12 pm then the name approval will be carried
                out on the same day (Day 1). On day 2 signing company
                incorporation documents will be carried out. Day 4 – Trade
                license released by Free Zone and you can collect your Original
                Trade License, Ajman Chamber of Commerce Certificate, Lease
                Agreement and Articles of Association (only applicable if
                company intended to FZC i.e 2 or more than 2 partners) from
                Trust Genic office. At this point, you may proceed for company
                bank account process. If signing company incorporation documents
                carried out before 10 am then you may receive your License and
                related documents on the same day after 1 pm. Day 15 –
                Establishment Card (company immigration card) issued by Free
                Zone. Now you can apply for the visa. Day 15 – Submit your Visa
                application with required documents. Day 25 – Entry Visa issued
                and copy of a visa e-mailed to you. If required you can collect
                visa from Trust Genic office. If you are out of the country when
                your entry visa issued, you can enter with new entry visa (you
                will not allow to enter on tourist or visit visa once the entry
                permit is issued). If you are inside the country you need to
                carry out the change of status either by exiting and re-entering
                or submitting your original passport, original entry permit, and
                payment to Trust Genic office. Day 26 – Proceed for medical and
                Emirates Id Card procedure. Please contact us if any assistance
                with Medical and Emirates ID typing required. Day 27 – Deliver
                the required documents i:e original passport, original visa,
                medical carried out receipt (as the report will directly be sent
                to immigration by medical center), original Emirates ID card
                receipt to proceed with Visa stamping. Day 35 – Passport is
                ready for collection in Trust Genic office with stamped
                residency visa. Please Note: Above mentioned Time Frame is
                subjected to working days only not a calendar date. If
                pre-approval (security approval) required for establishment card
                or visa please add 10 to 15 days. The above timelines are
                collated based on the average processing times and hence are not
                exact and in reality may be shorter or longer. The indicated
                days on timeframe may be subject to delay during periods in and
                around Ramadan, days of mourning, Eid and other National and
                Religious Holidays. The indicated timelines commence upon
                realization of payment. There may be chances of delay in case of
                additional documents required or addition inquiry needed by any
                government authorities.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
