    /*
    Flaticon icon font: Flaticon
    Creation date: 11/12/2020 05:02
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-favourite-heart:before { content: "\f100"; }
.flaticon-box:before { content: "\f101"; }
.flaticon-shopping-cart:before { content: "\f102"; }
.flaticon-user:before { content: "\f103"; }
.flaticon-call-center:before { content: "\f104"; }
.flaticon-menu:before { content: "\f105"; }
.flaticon-magnifiying-glass:before { content: "\f106"; }
.flaticon-up-arrow:before { content: "\f107"; }
.flaticon-down-arrow:before { content: "\f108"; }
.flaticon-right-arrow:before { content: "\f109"; }
.flaticon-left-arrow:before { content: "\f10a"; }
.flaticon-facebook-logo:before { content: "\f10b"; }
.flaticon-twitter:before { content: "\f10c"; }
.flaticon-instagram:before { content: "\f10d"; }
.flaticon-fast:before { content: "\f10e"; }
.flaticon-payment:before { content: "\f10f"; }
.flaticon-toilet:before { content: "\f110"; }
.flaticon-motorcycle:before { content: "\f111"; }
.flaticon-sports-car:before { content: "\f112"; }
.flaticon-drilling-machine:before { content: "\f113"; }
.flaticon-light-bulb:before { content: "\f114"; }
.flaticon-electric:before { content: "\f115"; }
.flaticon-helmet:before { content: "\f116"; }
.flaticon-customer-support:before { content: "\f117"; }
.flaticon-calculator:before { content: "\f118"; }
.flaticon-gardening-tools:before { content: "\f119"; }
.flaticon-star-1:before { content: "\f11a"; }
.flaticon-star:before { content: "\f11b"; }
    
    $font-Flaticon-favourite-heart: "\f100";
    $font-Flaticon-box: "\f101";
    $font-Flaticon-shopping-cart: "\f102";
    $font-Flaticon-user: "\f103";
    $font-Flaticon-call-center: "\f104";
    $font-Flaticon-menu: "\f105";
    $font-Flaticon-magnifiying-glass: "\f106";
    $font-Flaticon-up-arrow: "\f107";
    $font-Flaticon-down-arrow: "\f108";
    $font-Flaticon-right-arrow: "\f109";
    $font-Flaticon-left-arrow: "\f10a";
    $font-Flaticon-facebook-logo: "\f10b";
    $font-Flaticon-twitter: "\f10c";
    $font-Flaticon-instagram: "\f10d";
    $font-Flaticon-fast: "\f10e";
    $font-Flaticon-payment: "\f10f";
    $font-Flaticon-toilet: "\f110";
    $font-Flaticon-motorcycle: "\f111";
    $font-Flaticon-sports-car: "\f112";
    $font-Flaticon-drilling-machine: "\f113";
    $font-Flaticon-light-bulb: "\f114";
    $font-Flaticon-electric: "\f115";
    $font-Flaticon-helmet: "\f116";
    $font-Flaticon-customer-support: "\f117";
    $font-Flaticon-calculator: "\f118";
    $font-Flaticon-gardening-tools: "\f119";
    $font-Flaticon-star-1: "\f11a";
    $font-Flaticon-star: "\f11b";