.about {
  padding: 3em 0;
  .small-menu {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 0.6em 0;
        border-bottom: 1px solid #212121;
        font-family: $font-sans;
        a {
          color: #212121;
          text-decoration: none;
        }
      }
    }
  }
  .newsletter {
    margin: 2em 0;
    background-color: $light-grey;
    padding: 1em;
    h2 {
      text-transform: uppercase;
      font-size: 1em;
    }
    .subs-box {
      @include flexer-full;
      input {
        padding: 0.5em;
        width: 70%;
        border: 0;
      }
      a {
        display: block;
        width: 30%;
        color: #fff;
        background-color: #212121;
        text-align: center;
        padding: 0.5em;
      }
    }
  }
  .abt-title {
    display: inline-block;
    position: relative;
    font-family: $font-poppins;
    font-weight: 900;
    font-size: 2em;
    margin: 1em 0;
    &:after {
      position: absolute;
      content: "";
      bottom: 2px;
      left: 0;
      width: 100%;
      height: 6px;
      background-color: $dark-grey;
      z-index: -1;
    }
    & ~ p {
      font-size: 1.2em;
      font-family: $font-poppins;
    }
  }
  .team-item {
    @include flexer-full;
    justify-content: space-between;
    margin: 2em 0;
    .team-desc {
      width: 65%;
      @include flexer-full;
      align-items: center;
      p {
        font-size: 1.2em;
        font-family: $font-poppins;
      }
    }
    .team-img {
      width: 30%;
      img {
        margin-bottom: 1em;
      }
      span {
        display: block;
        font-weight: 600;
        text-align: center;
      }
    }
  }
  .tms {
    span {
      display: block;
      margin: 1em 0;
      font-weight: 600;
      text-align: center;
      font-size: 1.2em;
    }
    .team-owl {
      position: relative;
      button.owl-prev {
        position: absolute;
        left: 1%;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
        color: $dark;
        span {
          padding: 0.5em 1em;
          margin: 0;
        }
      }
      button.owl-next {
        position: absolute;
        right: 1%;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
        color: $dark;
        span {
          padding: 0.5em 1em;
          margin: 0;
        }
      }
    }
  }
}
