.mobilemenu {
  display: none;
}
header {
  padding: 0.5em 0;
  .menu-side {
    @include flexer-full;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
  .mainmenu {
    width: 70%;
    ul {
      @include menu-ul;
      li {
        padding: 0 1em;
        a {
          text-transform: uppercase;
          color: $dark-grey;
          text-decoration: none;
          font-family: $font-sans;
          font-size: 1.2em;
        }
      }
    }
  }

  .search-part {
    .search-box {
      background-color: $light-grey;
      padding: 0.5em;
      display: flex;
      justify-content: space-between;
      input {
        border: 0;
        background-color: transparent;
        width: 70%;
        &:focus {
          border: 0;
          outline: 0;
        }
      }
      .search-btn {
        border: 0;
      }
    }
  }

  .social-part {
    width: 100%;
    ul {
      @include menu-ul;
      justify-content: flex-end;
      li {
        margin-left: 0.5em;
      }
    }
  }
}

.sticky {
  position: fixed;
  right: 5%;
  top: 50%;
  z-index: 2;
  ul {
    list-style: none;
    li {
      margin: 0.5em 0;
      a {
        cursor: pointer;
      }
    }
  }
}

footer {
  background-color: #dfdfdf;
  padding: 2em 0;
  .small-menu {
    @include menu-ul;
    justify-content: center;
    li {
      &:first-child {
        a {
          border-right: 2px solid $dark-grey;
        }
      }
      a {
        padding: 0 0.5em;
        font-size: 0.8em;
        color: $dark-grey;
      }
    }
  }
  .newsletter {
    text-align: center;
    input {
      display: block;
      width: 250px;
      margin: 0 auto;
      padding: 0.8em;
      border: 0;
    }
    a.subs-btn {
      padding: 1em;
      display: inline-block;
      background: $dark;
      text-decoration: none;
      margin: 0.5em;
      text-transform: uppercase;
      color: #fff;
    }
  }
  h2 {
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
  }
  .social-part {
    width: 100%;
    ul {
      @include menu-ul;
      justify-content: center;
      li {
        margin-left: 0.5em;
      }
    }
  }
}
