@media screen and (max-width: 1326px) {
  header .mainmenu ul li a {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1136px) {
  .intro .introduction a {
    width: 30%;
  }
}

@media screen and (max-width: 1045px) {
  .mainmenu {
    display: none;
  }
  .mobilemenu {
    display: flex;
    justify-content: flex-end;
    width: 68%;
    overflow: hidden;
    .open {
      font-size: 1.2em;
      cursor: pointer;
      text-transform: uppercase;
      font-family: $font-poppins;
    }
    #mySidenav {
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 2;
      top: 0;
      right: -100%;
      background-color: $dark-grey;
      transition: 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
      a.closebtn {
        position: absolute;
        font-size: 3em;
        right: 10%;
        top: 5%;
        color: #fff;
      }
      ul {
        list-style: none;
        li {
          text-align: center;
          a {
            color: #fff;
            font-size: 1.5em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .mobilemenu {
    width: 50%;
  }
  .search-part {
    width: 42%;
  }
}
@media screen and (max-width: 768px) {
  .mobilemenu {
    width: 20%;
  }
  .search-part {
    width: 69%;
  }
  .mobilemenu .open {
    font-size: 1em;
  }
  footer {
    .logo {
      img {
        width: 100px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  .intro .introduction a {
    width: 40%;
  }
  .team-owl {
    .item {
      margin-bottom: 2em;
    }
  }
}

@media screen and (max-width: 576px) {
  header .search-part .search-box {
    padding: 0;
  }
  .article-title {
    margin-top: 1em;
  }
  .intro .introduction p {
    font-size: 1em;
  }
  .intro .introduction h2 {
    font-size: 1.2em;
  }
  .intro .introduction a {
    width: 70%;
  }
  .about .abt-title ~ p,
  .about .team-item .team-desc p {
    font-size: 1em;
  }
  .about .abt-title {
    font-size: 1.5em;
  }
  .contactfrm input,
  .contactfrm textarea,
  .contactfrm select,
  .contactfrm .snbtn {
    width: 100%;
  }
}
