@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");
.mobilemenu {
  display: none;
}

header {
  padding: 0.5em 0;
}

header .menu-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .mainmenu {
  width: 70%;
}

header .mainmenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

header .mainmenu ul li {
  padding: 0 1em;
}

header .mainmenu ul li a {
  text-transform: uppercase;
  color: #717171;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
}

header .search-part .search-box {
  background-color: #eaeaea;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .search-part .search-box input {
  border: 0;
  background-color: transparent;
  width: 70%;
}

header .search-part .search-box input:focus {
  border: 0;
  outline: 0;
}

header .search-part .search-box .search-btn {
  border: 0;
}

header .social-part {
  width: 100%;
}

header .social-part ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .social-part ul li {
  margin-left: 0.5em;
}

.sticky {
  position: fixed;
  right: 5%;
  top: 50%;
  z-index: 2;
}

.sticky ul {
  list-style: none;
}

.sticky ul li {
  margin: 0.5em 0;
}

.sticky ul li a {
  cursor: pointer;
}

footer {
  background-color: #dfdfdf;
  padding: 2em 0;
}

footer .small-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .small-menu li:first-child a {
  border-right: 2px solid #717171;
}

footer .small-menu li a {
  padding: 0 0.5em;
  font-size: 0.8em;
  color: #717171;
}

footer .newsletter {
  text-align: center;
}

footer .newsletter input {
  display: block;
  width: 250px;
  margin: 0 auto;
  padding: 0.8em;
  border: 0;
}

footer .newsletter a.subs-btn {
  padding: 1em;
  display: inline-block;
  background: #151515;
  text-decoration: none;
  margin: 0.5em;
  text-transform: uppercase;
  color: #fff;
}

footer h2 {
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
}

footer .social-part {
  width: 100%;
}

footer .social-part ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social-part ul li {
  margin-left: 0.5em;
}

.main-slider .item img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.intro {
  padding: 1em 0;
}

.intro .introduction {
  font-family: "Poppins", sans-serif;
}

.intro .introduction h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 900;
}

.intro .introduction p {
  font-size: 1.4em;
  margin: 0.8em 0;
}

.intro .introduction a {
  text-transform: uppercase;
  font-size: 1.4em;
  text-decoration: none;
  display: block;
  margin: 1em auto;
  width: 20%;
  color: #212121;
}

.intro .introduction a:hover .arw {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.intro .introduction a .arw {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.articles {
  padding: 2em 0;
}

.articles .article-title {
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  border-bottom: 2px solid #212121;
  padding-bottom: 4px;
  letter-spacing: 4px;
}

.articles .article-item {
  padding: 1em 0;
  border-bottom: 1px solid #212121;
}

.articles .article-item .title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 1em;
}

.articles .article-item p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.articles .article-item .art-img {
  width: 30%;
}

.articles .article-item .rd-more {
  display: block;
  color: #212121;
  margin: 0.5em 0;
  text-transform: uppercase;
  text-decoration: none;
}

.articles .s-title {
  background-color: #eaeaea;
  text-align: center;
  font-size: 1em;
  padding: 1em;
  font-family: "Poppins", sans-serif;
}

.articles .bottom {
  background-color: #eaeaea;
  font-size: 1em;
  padding: 1em;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles .bottom span a {
  color: #212121;
}

.articles .social-post {
  height: 540px;
  overflow-y: scroll;
}

.articles .social-post .post-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

.articles .social-post .post-item .avt {
  width: 20%;
}

.articles .social-post .post-item .p-data {
  width: 70%;
  font-family: "Poppins", sans-serif;
}

.articles .social-post .post-item .p-data h2 {
  font-size: 1em;
  font-weight: 900;
}

.articles .social-post .post-item .p-data p {
  font-size: 1em;
}

.about {
  padding: 3em 0;
}

.about .small-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about .small-menu ul li {
  padding: 0.6em 0;
  border-bottom: 1px solid #212121;
  font-family: "Open Sans", sans-serif;
}

.about .small-menu ul li a {
  color: #212121;
  text-decoration: none;
}

.about .newsletter {
  margin: 2em 0;
  background-color: #eaeaea;
  padding: 1em;
}

.about .newsletter h2 {
  text-transform: uppercase;
  font-size: 1em;
}

.about .newsletter .subs-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .newsletter .subs-box input {
  padding: 0.5em;
  width: 70%;
  border: 0;
}

.about .newsletter .subs-box a {
  display: block;
  width: 30%;
  color: #fff;
  background-color: #212121;
  text-align: center;
  padding: 0.5em;
}

.about .abt-title {
  display: inline-block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 2em;
  margin: 1em 0;
}

.about .abt-title:after {
  position: absolute;
  content: "";
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #717171;
  z-index: -1;
}

.about .abt-title ~ p {
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
}

.about .team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em 0;
}

.about .team-item .team-desc {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .team-item .team-desc p {
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
}

.about .team-item .team-img {
  width: 30%;
}

.about .team-item .team-img img {
  margin-bottom: 1em;
}

.about .team-item .team-img span {
  display: block;
  font-weight: 600;
  text-align: center;
}

.about .tms span {
  display: block;
  margin: 1em 0;
  font-weight: 600;
  text-align: center;
  font-size: 1.2em;
}

.about .tms .team-owl {
  position: relative;
}

.about .tms .team-owl button.owl-prev {
  position: absolute;
  left: 1%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  color: #151515;
}

.about .tms .team-owl button.owl-prev span {
  padding: 0.5em 1em;
  margin: 0;
}

.about .tms .team-owl button.owl-next {
  position: absolute;
  right: 1%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  color: #151515;
}

.about .tms .team-owl button.owl-next span {
  padding: 0.5em 1em;
  margin: 0;
}

.services .ser-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

.services .ser-item .ser-img {
  width: 20%;
}

.services .ser-item .ser-desc {
  width: 70%;
  font-family: "Poppins", sans-serif;
}

.services .ser-item .ser-desc h2 {
  font-size: 1.2em;
  font-weight: 600;
}

.impact-owl .item {
  font-family: "Poppins", sans-serif;
  position: relative;
}

.impact-owl .item p {
  background-color: #151515;
  color: #fff;
  padding: 2em 2em 6em 2em;
}

.impact-owl .item img {
  position: absolute;
  width: 50px;
  border-radius: 50%;
  bottom: 18%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.impact-owl .item strong,
.impact-owl .item span {
  display: block;
  text-align: center;
}

.impact-owl .item strong {
  margin-top: 2em;
}

.project-cont {
  font-family: "Poppins", sans-serif;
}

.project-cont h3 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 1.2em;
}

.project-cont .proj-item {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #212121;
}

.project-cont .proj-item h4 {
  text-align: center;
  margin: 1em 0;
}

.project-cont .proj-item p {
  text-align: center;
}

.project-cont .proj-item .morebtn {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #212121;
}

.contactfrm {
  display: block;
}

.contactfrm input,
.contactfrm textarea,
.contactfrm select {
  display: block;
  border: 1px solid #212121;
  width: 60%;
  margin: 1em 0;
  padding: 0.5em;
  text-align: center;
}

.contactfrm input::-webkit-input-placeholder,
.contactfrm textarea::-webkit-input-placeholder,
.contactfrm select::-webkit-input-placeholder {
  color: #212121;
}

.contactfrm input:-ms-input-placeholder,
.contactfrm textarea:-ms-input-placeholder,
.contactfrm select:-ms-input-placeholder {
  color: #212121;
}

.contactfrm input::-ms-input-placeholder,
.contactfrm textarea::-ms-input-placeholder,
.contactfrm select::-ms-input-placeholder {
  color: #212121;
}

.contactfrm input::placeholder,
.contactfrm textarea::placeholder,
.contactfrm select::placeholder {
  color: #212121;
}

.contactfrm .snbtn {
  background-color: #212121;
  color: #fff;
  display: block;
  width: 60%;
  border: 0;
  padding: 0.5em;
  font-weight: 600;
  text-transform: uppercase;
}

.contact {
  text-align: center;
  padding: 4em 0;
}

.contact h3 {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}

.blogs h2.abt-title {
  margin: 0 auto;
}

.blogs .blog-owl {
  margin: 4em 0;
  position: relative;
}

.blogs .blog-owl button.owl-prev {
  position: absolute;
  left: -5%;
  top: 50%;
}

.blogs .blog-owl button.owl-prev span {
  font-size: 2em;
}

.blogs .blog-owl button.owl-next {
  position: absolute;
  right: -5%;
  top: 50%;
}

.blogs .blog-owl button.owl-next span {
  font-size: 2em;
}

.blogs .blog-owl .blog-item {
  font-family: "Open Sans", sans-serif;
}

.blogs .blog-owl .blog-item h2 {
  font-size: 1.4em;
  margin: 0.5em 0;
}

.blogs .blog-owl .blog-item span {
  display: block;
  margin: 0.5em 0;
}

.blogs .blog-owl .blog-item .rdmr {
  display: block;
  background-color: #212121;
  color: #fff;
  padding: 1em;
  text-align: center;
  border-radius: 12px;
  font-weight: 600;
}

.blogs .interview-owl {
  margin: 4em 0;
}

.blogs .interview-owl .item {
  font-family: "Open Sans", sans-serif;
}

.blogs .interview-owl .item h2 {
  font-size: 1.2em;
  text-align: center;
  margin: 1em 0;
}

.blogs .interview-owl .item img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.blogs .report-owl {
  position: relative;
  margin: 4em 0;
}

.blogs .report-owl button.owl-prev {
  position: absolute;
  left: -5%;
  top: 50%;
}

.blogs .report-owl button.owl-prev span {
  font-size: 2em;
}

.blogs .report-owl button.owl-next {
  position: absolute;
  right: -5%;
  top: 50%;
}

.blogs .report-owl button.owl-next span {
  font-size: 2em;
}

.blogs .report-owl .owl-dots {
  text-align: center;
  margin-top: 2em;
}

.blogs .report-owl .owl-dots button.owl-dot {
  background-color: #eaeaea !important;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 0.2em;
}

.blogs .report-owl .owl-dots button.owl-dot.active {
  background-color: #717171 !important;
}

@media screen and (max-width: 1326px) {
  header .mainmenu ul li a {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1136px) {
  .intro .introduction a {
    width: 30%;
  }
}

@media screen and (max-width: 1045px) {
  .mainmenu {
    display: none;
  }
  .mobilemenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 68%;
    overflow: hidden;
  }
  .mobilemenu .open {
    font-size: 1.2em;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  .mobilemenu #mySidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -100%;
    background-color: #717171;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobilemenu #mySidenav a.closebtn {
    position: absolute;
    font-size: 3em;
    right: 10%;
    top: 5%;
    color: #fff;
  }
  .mobilemenu #mySidenav ul {
    list-style: none;
  }
  .mobilemenu #mySidenav ul li {
    text-align: center;
  }
  .mobilemenu #mySidenav ul li a {
    color: #fff;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 980px) {
  .mobilemenu {
    width: 50%;
  }
  .search-part {
    width: 42%;
  }
}

@media screen and (max-width: 768px) {
  .mobilemenu {
    width: 20%;
  }
  .search-part {
    width: 69%;
  }
  .mobilemenu .open {
    font-size: 1em;
  }
  footer .logo img {
    width: 100px;
    display: block;
    margin: 0 auto;
  }
  .intro .introduction a {
    width: 40%;
  }
  .team-owl .item {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 576px) {
  header .search-part .search-box {
    padding: 0;
  }
  .article-title {
    margin-top: 1em;
  }
  .intro .introduction p {
    font-size: 1em;
  }
  .intro .introduction h2 {
    font-size: 1.2em;
  }
  .intro .introduction a {
    width: 70%;
  }
  .about .abt-title ~ p,
  .about .team-item .team-desc p {
    font-size: 1em;
  }
  .about .abt-title {
    font-size: 1.5em;
  }
  .contactfrm input,
  .contactfrm textarea,
  .contactfrm select,
  .contactfrm .snbtn {
    width: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

.container-big {
  width: 90%;
  margin: 0 auto;
}

.container-small {
  width: 80%;
  margin: 0 auto;
}

button:focus {
  outline: 0;
}
/*# sourceMappingURL=main.css.map */