section.aboutus {
  padding: 3em 0;
  .tabs__section {
    ul {
      li {
        width: 100%;
        margin-bottom: 1em;
        button {
          width: 100%;
          border: 0;
          transition: 0.3s;
          border-radius: 0;
          padding: 1em;
          text-align: left;
          background-color: $secondary-color2;
          svg {
            width: 20px;
            height: 20px;
          }
        }
        button.active {
          background-color: $primary-color;
          color: #fff;
          svg {
            fill: #fff;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .tab-pane {
    .contents {
      padding: 1em;
      border: 1px solid $primary-color;
    }
  }
}
