.blogs {
  padding: 1em 0;
  .latest__blog {
    margin-bottom: 2em;
    @include full-flexer;
    justify-content: space-between;
    .banner {
      width: 59%;
      @include lg {
        width: 49%;
      }
      @include md {
        width: 100%;
      }
      img {
        border-radius: 8px;
      }
    }
    .blog__meta {
      width: 39%;
      @include lg {
        width: 49%;
      }
      @include md {
        width: 100%;
      }
      @include flexer(space-between, flex-start);
      flex-direction: column;
      span.blog__date {
        color: $blog-color;
        font-weight: 600;
        @include md {
          margin: 0.4em 0;
          display: block;
        }
      }
      h2 {
        a {
          text-decoration: none;
          color: $primary-color;
        }
      }
      p {
        margin: 0;
        font-weight: 500;
        color: $blog-color;
        @include md {
          margin: 1em;
        }
      }
      .author {
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        span {
          color: $blog-color;
          font-weight: 600;
        }
      }
    }
  }
  .blog__item {
    @include md {
      margin-bottom: 1em;
    }
    .banner {
      img {
        border-radius: 8px;
      }
    }
    .blog__meta {
      @include flexer(space-between, flex-start);
      flex-direction: column;
      span.blog__date {
        color: $blog-color;
        font-weight: 600;
        margin: 0.5em 0;
        display: block;
      }
      h2 {
        a {
          text-decoration: none;
          color: $primary-color;
        }
      }
      p {
        font-weight: 500;
        color: $blog-color;
      }
      .author {
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        span {
          color: $blog-color;
          font-weight: 600;
        }
      }
    }
  }
}

.single__blog {
  padding: 1em 0;
  .blog__meta {
    margin-bottom: 1em;
    @include flexer(space-between, center);
    .author {
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      span {
        font-weight: 600;
      }
    }
    .blog__date {
      margin-left: 1em;
      color: $blog-color;
    }
  }
}
