section.apps {
  padding: 3em 0;
  .para {
    margin: 2em auto;
  }
}

.app-owl {
  padding: 2em 0 4em;
  .owl-nav {
    @include flexer(center);
    height: 100px;
  }
  button:focus {
    outline: none;
  }
  .fa {
    display: inline-flex;
    height: 2em;
    width: 2em;
    margin: 0 0.2em;
    background: #4085f6;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    justify-content: center;
    align-items: center;
  }
}
