.feature {
  background: url(../img/features.png);
  background-size: 100% 100%;
  padding: 3em 0 12em;
}

.feat-items,
.feat-img {
  margin: 2em 0;
}

.feat-items {
  @include flexer(space-between);
  align-items: flex-start;
  padding: 1em;
  .icon {
    width: 10%;
    margin: 0 2%;
  }
  .f-desc {
    width: 80%;
    margin: 0 2%;
    h2 {
      color: #fff;
      font-size: 1.2em;
    }
    p {
      color: #fff;
      font-weight: 400;
    }
  }
}
