@mixin unorderlist($listings) {
  list-style: $listings;
  padding: 0;
  margin: 0;
}

@mixin links {
  text-decoration: none;
  color: #000;
}

@mixin flexer($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin borderradius {
  border-radius: 24px;
}
