section.pricing {
  padding: 4em 0;
}

.price-item {
  margin: 3em 0;
  border: 2px solid $primary-color;
  padding: 3em;
  border-radius: 12px;
  text-align: center;
  h2 {
    font-size: 1.5em;
  }
  .price {
    display: block;
    margin: 1em 0;
    font-size: 2em;
    color: $primary-color;
  }
  h3 {
    font-size: 1em;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 1em 0;
    li {
      font-size: 0.8em;
      .tick {
        .fa-check {
          color: green;
        }
        .fa-times {
          color: red;
        }
      }
    }
  }
  a.purchase-btn {
    border: 2px solid $primary-color;
    border-radius: 24px;
    padding: 0.5em 2em;
    margin: 1em 0;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
  }
}

.main {
  background: linear-gradient(to right, $primary-color, #59a9e7);
  color: #fff;
  transform: scale(1.1);
  border: 0;
  a.purchase-btn {
    border: 2px solid #fff;
    color: #fff;
  }
  .price {
    color: #fff;
  }
}
