//Header
header {
  padding: 0.5em 0;
  transition: 0.5s;
  .header__row {
    @include full-flexer;
    .logo__part {
      width: 50%;
      a {
        text-decoration: none;
        .logo {
          @include flexer(unset, center);
          height: 100%;
          span {
            font-family: $font-redhat;
            text-transform: uppercase;
            font-size: $medium-font;
            font-weight: $heavy-font;
            color: $secondary-color;
          }
          img {
            width: 30px;
            margin-right: 0.5em;
            @include lg {
              width: 50px;
            }
          }
        }
      }
    }
    .menu__part {
      width: 50%;
      @include flexer(flex-end, center);
      .mobile__nav {
        span {
          background-color: $secondary-color;
          height: 0.1em;
          display: block;
          transition: 0.6s;
          &:nth-child(1) {
            width: 8px;
            margin-bottom: 0.4em;
          }
          &:nth-child(2) {
            width: 16px;
            margin-bottom: 0.4em;
          }
          &:nth-child(3) {
            width: 24px;
          }
        }
        @include md {
          display: none;
        }
      }
      .tog {
        span {
          &:nth-child(3) {
            display: none;
          }
          &:nth-child(1) {
            transform: rotate(-34deg);
            width: 16px;
          }
          &:nth-child(2) {
            transform: rotate(34deg);
          }
        }
      }
      .big__nav {
        display: none;
        .big__menus {
          @include flexer(unset, center);
          height: 100%;
          list-style: none;
          .big__menu__item {
            margin-left: 1.8em;
            a {
              text-decoration: none;
              font-weight: $heavy-font;
              color: $secondary-color;
            }
            &:last-child {
              a {
                color: $primary-color;
              }
            }
          }
          .big__menu__item.active {
            a {
              color: $primary-color;
              display: inline-block;
              position: relative;
              &:after {
                content: "";
                position: absolute;
                left: 50%;
                top: 102%;
                height: 0.2em;
                width: 0.2em;
                border-radius: 50%;
                background-color: $primary-color;
              }
            }
          }
        }
        @include md {
          display: block;
        }
      }
    }
  }
}
