//Banner
.banner__row {
  @include full-flexer;
  .illus__part {
    width: 100%;
    img {
      width: 90%;
      float: right;
    }
  }
  .info__part {
    h3 {
      color: $primary-color;
      font-family: $font-redhat;
      font-size: $small-font;
    }
    h2 {
      color: $secondary-color;
      font-family: $font-redhat;
      font-size: $medium-font;
    }
    p {
      color: $secondary-color;
      font-size: $small-font;
    }
  }
}
