@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Red+Hat+Display:wght@500&display=swap");

$font-redhat: "Red Hat Display", sans-serif;
$font-poppins: "Poppins", sans-serif;

//Colors
$primary-color: #fa5652;
$primary-color-low: #fa565247;
$primary-color2: #fb4c47;
$secondary-color: #035755;
$secondary-color2: #4b4f51;

//Font Size
$small-font: 0.8em;
$medium-font: 1em;
$large-font: 2em;
$larger-font: 3em;

//Font Weight
$light-font: 300;
$regular-font: 400;
$heavy-font: 600;
$heavier-font: 900;
