@import "./mixins";
@import "./variable";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: auto;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
a,
a:hover {
  text-decoration: none;
}
.pb-6 {
  padding-bottom: 3em;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1041;
  background: #fff;
  padding: 1% 10% !important;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}
.empty-box {
  @include flexer(center, center);
  height: 300px;
  span {
    font-size: 1.2em;
    font-weight: 600;
    padding: 1em;
    border: 1px solid $primary-color;
    display: block;
    color: $dark-text;
  }
}

// Review

.stars {
  cursor: pointer;
  display: flex;
}
.stars:hover .star polygon {
  fill: #ffd055 !important;
}
.stars .star polygon {
  fill: #d8d8d8;
}
.stars .star:hover ~ .star polygon {
  fill: #d8d8d8 !important;
}
.stars[data-stars] .star polygon {
  fill: #ffd055;
}
.stars[data-stars="1"] .star:nth-child(1) ~ .star polygon {
  fill: #d8d8d8;
}
.stars[data-stars="2"] .star:nth-child(2) ~ .star polygon {
  fill: #d8d8d8;
}
.stars[data-stars="3"] .star:nth-child(3) ~ .star polygon {
  fill: #d8d8d8;
}
.stars[data-stars="4"] .star:nth-child(4) ~ .star polygon {
  fill: #d8d8d8;
}
.stars[data-stars="5"] .star:nth-child(5) ~ .star polygon {
  fill: #d8d8d8;
}
