html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: auto;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
a,
a:hover {
  text-decoration: none;
}
.pb-6 {
  padding-bottom: 3em;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1041;
  background: #fff;
  padding: 1% 10% !important;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
}
