header {
  padding: 1em 0;
  .upper-head {
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
    .logo {
      img {
        width: 150px;
      }
    }
    .top-right {
      @include flexer(flex-end, center);
      height: 100%;
      .link-item {
        cursor: pointer;
        transition: 0.3s;
        padding: 0.2em;
        color: #000;
        &:hover {
          color: $primary-color;
        }
        sup {
          background-color: $primary-color;
          color: #fff;
          border-radius: 24px;
          padding: 0.2em;
        }
      }
      .link-item.droppe {
        font-weight: 600;
        position: relative;
      }
    }
  }
  .lower-head {
    padding-top: 1em;
    .category {
      font-weight: 600;
      @include flexer(flex-start, center);
      height: 100%;
      #cat {
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: $primary-color;
        }
        button.catbtn {
          background: transparent;
          border: 0;
          padding: 0;
          &:focus {
            outline: 0;
          }
          span {
            margin: 0 0.5em;
          }
        }
        i {
          &:before {
            margin-left: 0;
          }
          font-weight: 400;
        }
        i.flaticon-down-arrow::before {
          font-size: 12px;
        }
      }
    }
    .category-model {
      width: 80vw;
      height: 80vh;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      padding: 2em;
      border-radius: 4px;
      overflow-y: scroll;
      .categories {
        .header {
          margin-bottom: 1em;
          span {
            font-size: 1.5em;
            text-transform: uppercase;
          }
        }
        .main-category {
          width: 33%;
          display: inline-flex;
          flex-wrap: wrap;
          a {
            width: 100%;
            color: $primary-color;
            font-size: 1.2em;
          }
          .sub-category {
            width: 100%;
            ul {
              padding: 0;
              list-style: none;
              li {
                a {
                  font-size: 1em;
                  color: #000;
                }
              }
            }
          }
        }
      }
    }
    .search-box {
      form {
        width: 500px;
        background-color: #f7f7f7;
        border-radius: 2px;
        overflow: hidden;
        @include flexer(space-between, center);
        i {
          width: 10%;
          &:before {
            color: #b3aeae;
          }
        }
        input {
          width: 70%;
          border: 0;
          padding: 0.6em;
          background: transparent;
          &::placeholder {
            color: #b3aeae;
          }
          &:focus {
            outline: 0;
          }
        }
        button.search {
          width: 20%;
          background: $primary-color;
          color: #fff;
          border: 0;
          padding: 0.6em;
        }
      }
    }
    .hotline {
      @include flexer(flex-end, center);
      height: 100%;
      .call {
        @include full-flexer;
        justify-content: space-between;
        width: 206px;
        .call-ico {
          width: 28%;
          .flaticon-call-center:before {
            font-size: 2em;
          }
        }
        .call-info {
          width: 70%;
          strong,
          span {
            display: block;
            text-align: left;
          }
        }
      }
    }
  }
}

footer {
  padding: 3em 0;
  background-color: $secondary-color;
  .foot-item {
    h3 {
      color: #fff;
      text-transform: uppercase;
      font-size: 1em;
      margin: 0;
    }
    ul {
      padding: 0;
      margin: 1em 0;
      list-style: none;
      li {
        color: $dark-text;
        font-size: 0.9em;
        a {
          color: $dark-text;
          font-size: 0.9em;
        }
      }
    }
  }
  .bottom-foot {
    @include full-flexer;
    justify-content: space-between;
    padding-top: 2em;
    border-top: 1px solid $dark-text;
    .copyright-part {
      color: $dark-text;
      p {
        margin: 0;
      }
    }
    .social-link {
      ul {
        @include full-flexer;
        list-style: none;
        li {
          a {
            color: $dark-text;
          }
        }
      }
    }
  }
}

.slider {
  .main-slider {
    img {
      height: 500px;
      object-fit: cover;
    }
    .owl-nav {
      .owl-prev {
        position: absolute;
        left: -5%;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;
        background: #000000de;
        border-radius: 50%;
        width: 50px;
        &:focus {
          outline: 0;
        }
        span {
          font-size: 2em;
          color: #fff;
        }
      }
      .owl-next {
        position: absolute;
        right: -5%;
        top: 50%;
        transition: 0.3s;
        transform: translateY(-50%);
        background: #000000de;
        border-radius: 50%;
        width: 50px;
        &:focus {
          outline: 0;
        }
        span {
          font-size: 2em;
          color: #fff;
        }
      }
    }
  }
  &:hover .owl-nav .owl-prev {
    left: 5%;
  }
  &:hover .owl-nav .owl-next {
    right: 5%;
  }
  &:hover {
    cursor: pointer;
  }
}

.hotdeals,
.featured,
.newarrivals {
  background-color: #eee;
  .featured-slider {
    .owl-nav {
      .owl-prev {
        position: absolute;
        left: -5%;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;
        background: #000000de;
        border-radius: 50%;
        width: 50px;
        &:focus {
          outline: 0;
        }
        span {
          font-size: 2em;
          color: #fff;
        }
      }
      .owl-next {
        position: absolute;
        right: -5%;
        top: 50%;
        transition: 0.3s;
        transform: translateY(-50%);
        background: #000000de;
        border-radius: 50%;
        width: 50px;
        &:focus {
          outline: 0;
        }
        span {
          font-size: 2em;
          color: #fff;
        }
      }
    }
  }
  .wrapper {
    &:hover .owl-nav .owl-prev {
      left: 5%;
    }
    &:hover .owl-nav .owl-next {
      right: 5%;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.heads {
  @include flexer(space-between, center);
  margin: 1em 0;
  font-weight: 600;
  span {
    font-size: 1.5em;
  }
  a {
    color: #000;
    .flaticon-right-arrow:before {
      margin-left: 0;
      font-size: 1em;
    }
  }
}

.featured,
.hotdeals,
.ondiscount,
.newarrivals {
  background-color: #eee;
  .owl-stage {
    @include full-flexer;
  }
  .owl-item {
    display: flex;
    .item {
      position: relative;
      transition: 0.3s;
      padding-bottom: 1em;
      @include full-flexer;
      border: 1px solid #cfcece;
      .cartbtn {
        border: 0;
        background-color: $primary-color;
        width: 90%;
        display: block;
        visibility: hidden;
        margin: 0 auto;
        margin-top: 1em;
        color: #fff;
        padding: 0.5em 1em;
        border-radius: 6px;
        transition: 0.5s;
        opacity: 0;
      }
      &:hover {
        box-shadow: $spreaded-box-shadow;
        .cartbtn {
          visibility: visible;
          opacity: 1;
        }
      }
      .img-box {
        height: 300px;
        img {
          object-fit: contain;
          height: 100%;
        }
      }
      i.flaticon-favourite-heart {
        position: absolute;
        right: 5%;
        top: 5%;
      }
      i.flaticon-favourite-heart.wished {
        color: $primary-color;
      }
      .plank {
        padding: 1em;
        border-top: 1px solid #cfcece;
        span.name {
          a {
            font-size: 1.2em;
            font-weight: 600;
            display: block;
            color: $dark-text;
          }
        }
        span.cost {
          display: block;
          color: $primary-color;
          padding-bottom: 0.5em;
          del {
            color: #9c9595;
          }
        }
        span.discount {
          border: 1px solid $primary-color;
          padding: 0.2em;
          font-size: 0.6em;
          display: block;
          width: 30%;
          text-align: center;
          color: $primary-color;
        }
        .rating {
          i:before {
            margin-left: 0;
            font-size: 1em;
            color: $star-color;
          }
        }
      }
    }
  }
}

section.feat {
  background: $primary-color;
  padding: 2em 0;
  .feat-item {
    text-align: center;
    color: #fff;
    i:before {
      margin-left: 0;
      font-size: 3em;
    }
  }
}

.featured-category {
  background-color: #eee;
  .feat-row {
    @include full-flexer;
    a {
      width: 20%;
      display: block;
      color: #000;
      transition: 0.3s;
      padding: 2%;
      border: 1px solid #ddd;
      background-color: #fff;
      &:hover {
        transform: scale(1.2);
      }
      .feat-item {
        text-align: center;
        transition: 0.5s;
        &:hover {
          background-color: $primary-color;
          span {
            color: #fff;
          }
          i {
            &:before {
              color: #fff;
            }
          }
        }
        i {
          display: block;
          &:before {
            font-size: 4em;
            color: $primary-color;
            margin-left: 0;
          }
        }
        span {
          color: $primary-color;
        }
      }
    }
  }
}

.brands {
  background-color: #eee;
  .brand-row {
    @include full-flexer;
    a {
      width: 20%;
      display: block;
      color: #000;
      transition: 0.3s;
      padding: 2%;
      border: 1px solid #ddd;
      .brand-item {
        text-align: center;
        img {
          height: 50px;
          object-fit: cover;
          width: 50px;
          margin: 0 auto;
          display: block;
        }
        span {
          color: $primary-color;
        }
      }
    }
  }
}

.mob-nab {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100vw;
  display: none;
  z-index: 1;
  justify-content: space-around;
  a.mob-item {
    padding: 1em;
    color: #000;
    font-size: 1em;
    i:before {
      font-size: 2em;
      margin-left: 0;
    }
    sup {
      background-color: $primary-color;
      color: #fff;
      border-radius: 24px;
      padding: 0.2em;
    }
  }
}

.categories {
  padding: 2em 0;
  .cat-cards {
    h3 {
      font-size: 1.2em;
      font-weight: 600;
      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 1px dotted $dark-text;
    }
    .item {
      position: relative;
      transition: 0.3s;
      padding-bottom: 1em;
      @include full-flexer;
      border: 1px solid #cfcece;
      .cartbtn {
        border: 0;
        background-color: $primary-color;
        width: 90%;
        display: block;
        visibility: hidden;
        margin: 0 auto;
        margin-top: 1em;
        color: #fff;
        padding: 0.5em 1em;
        border-radius: 6px;
        transition: 0.5s;
        opacity: 0;
      }
      &:hover {
        box-shadow: $spreaded-box-shadow;
        .cartbtn {
          visibility: visible;
          opacity: 1;
        }
      }
      .img-box {
        height: 300px;
        img {
          object-fit: contain;
          height: 100%;
        }
      }
      i.flaticon-favourite-heart {
        position: absolute;
        right: 5%;
        top: 5%;
      }
      i.flaticon-favourite-heart.wished {
        color: $primary-color;
      }
      .plank {
        padding: 1em;
        border-top: 1px solid #cfcece;
        span.name {
          a {
            font-size: 1.2em;
            font-weight: 600;
            display: block;
            color: $dark-text;
          }
        }
        span.cost {
          display: block;
          color: $primary-color;
          padding-bottom: 0.5em;
          del {
            color: #9c9595;
          }
        }
        span.discount {
          border: 1px solid $primary-color;
          padding: 0.2em;
          font-size: 0.6em;
          display: block;
          width: 30%;
          text-align: center;
          color: $primary-color;
        }
        .rating {
          i:before {
            margin-left: 0;
            font-size: 1em;
            color: $star-color;
          }
        }
      }
    }
  }
  .filter-part {
    .filter-item {
      margin-bottom: 2em;
      h2 {
        font-size: 1.2em;
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid $dark-text;
        display: inline-block;
        font-weight: 600;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          a {
            color: #000;
            margin-bottom: 1em;
            display: block;
            font: 0.9em;
          }
        }
      }
      button {
        background-color: $primary-color;
        color: #fff;
        border-radius: 0;
      }
    }
  }
  .paginations {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .page-item.active {
      .page-link {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
      }
    }
    .page-item {
      .page-link {
        color: $primary-color;
      }
    }
  }
}
