.bread-crumb {
  background: #f4f4f4;
  .crumb-wrap {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0.5em 0;
      li {
        margin-right: 2em;
        position: relative;
        a {
          color: $dark-text;
        }
        &:after {
          position: absolute;
          content: ">";
          left: 124%;
        }
        &:last-child:after {
          content: "";
        }
      }
    }
  }
}

.about,
.terms,
.privacy,
.delivery,
.contact,
.faq {
  padding: 2em 0;
}

.faq-desc {
  h2 {
    margin-bottom: 2em;
    font-size: 1.2em;
  }
  .faq-container {
    .bar {
      padding: 0.8em;
      border: 1px solid $primary-color;
      margin-bottom: 1em;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      cursor: pointer;
      h3 {
        width: 100%;
        font-size: 1em;
        margin: 0;
        span {
          background-color: $primary-color;
          padding: 0.5em;
          color: #fff;
          display: inline;
        }
      }
      .answer {
        width: 100%;
        display: none;
        padding: 1em;
      }
    }
  }
}

.contact-form {
  h3 {
    font-size: 1.2em;
    font-weight: 600;
  }
  form {
    width: 60%;
    .form-item {
      @include full-flexer;
      margin-bottom: 1em;
      label {
        width: 100%;
        font-weight: 600;
        font-size: 0.8em;
      }
      input,
      textarea {
        width: 100%;
        padding: 0.5em;
        border: 1px solid #b9b9b9;
      }
      input#submit {
        background-color: $primary-color;
        color: #fff;
        text-transform: uppercase;
        &:focus {
          outline: 0;
        }
      }
    }
  }
}
.contact-info {
  h3 {
    font-size: 1.2em;
    font-weight: 600;
  }
  .info-item {
    font-size: 0.8em;
    margin-bottom: 1em;
  }
}

.login {
  padding: 2em 0;
  .illustration-login {
    min-height: 500px;
    @include full-flexer;
    align-items: center;
    justify-content: center;
    h3 {
      font-size: 0.8em;
      color: $dark-text;
      font-weight: 600;
    }
    h2 {
      font-size: 2em;
      text-transform: uppercase;
      color: $primary-color;
      font-weight: 600;
    }
  }
  .login-forms {
    .nav {
      .nav-item {
        border-bottom: 1px solid #eee;
        flex-grow: unset;
        .nav-link {
          border: 0;
          font-weight: 600;
          color: $dark-text;
        }
        .nav-link.active {
          border-bottom: 2px solid $primary-color;
        }
      }
    }
    .tab-content {
      .tab-pane {
        padding: 3em 0;
        .form-group {
          a {
            font-size: 0.8em;
            color: #000;
          }
        }
        .btnLogin,
        .btnRegister {
          background-color: $primary-color;
          color: #fff;
          padding: 0.5em 1em;
          border: 0;
          &:focus {
            outline: 0;
          }
        }
      }
    }
  }
}

.tracking {
  padding: 2em 0;
  .track-result {
    h2 {
      font-size: 1em;
      padding: 1em;
      background: #f4f4f4;
      margin: 0;
      span {
        color: $primary-color;
        font-weight: 600;
      }
    }
    .tr-items {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        height: 84%;
        width: 6px;
        background: #e7e7e7;
        left: 0;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
      }
      &:after {
        position: absolute;
        content: "";
        left: 2%;
        width: 6px;
        background: #3bcd3b;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
      }
      .done:after {
        position: absolute;
        content: "";
        background: #3bcd3b;
        height: 8px;
        width: 8px;
        left: -2px;
        border-radius: 50%;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
      }
      .tr {
        width: 100%;
        padding: 1em 1em 1em 2em;
        border: 1px solid #e7e7e7;
        border-bottom: 2px solid $primary-color;
        position: relative;
        &:before {
          position: absolute;
          content: "";
          left: -8px;
          height: 20px;
          width: 20px;
          background-color: #fff;
          border-radius: 50%;
          border: 4px solid #3bcd3b;
          z-index: 2;
          top: 50%;
          transform: translateY(-50%);
        }
        h3 {
          font-size: 1em;
          font-weight: 600;
          margin: 0;
          span {
            display: inline-block;
            font-size: 0.6em;
            padding: 0.2em 1em;
            border-left: 2px solid red;
            margin-right: 1em;
            background-color: #e7e7e7;
          }
        }
        p {
          margin: 1em 0 0;
          font-size: 0.8em;
        }
      }
    }
  }
  .order-info {
    border: 1px solid #e7e7e7;
    h2 {
      background-color: #e7e7e7;
      font-size: 1.2em;
      padding: 1em;
    }
    ul {
      padding-left: 1em;
      list-style: none;
      li {
        margin-top: 1em;
      }
    }
    span.total {
      background-color: $primary-color;
      color: #fff;
      display: block;
      padding: 1em;
    }
  }
}
