@media screen and (max-width: 1200px) {
  .wrapper {
    width: 90%;
  }
  header .lower-head .search-box form {
    width: 400px;
  }
}

@media screen and (max-width: 992px) {
  .hotline {
    display: none !important;
  }
  .search-box {
    display: flex;
    justify-content: flex-end;
  }
  .catbtn span,
  .catbtn .flaticon-down-arrow {
    display: none;
  }
  header .lower-head .search-box form {
    width: 500px;
  }
  .catbtn i:before {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 768px) {
  .link-item {
    display: none;
  }
  .droppe {
    display: block;
  }
  .featured-category .feat-row a,
  .brands .brand-row a {
    width: 33%;
  }
  .slider .main-slider .owl-nav .owl-prev {
    left: -10%;
  }
  .slider .main-slider .owl-nav .owl-next {
    right: -10%;
  }
  footer {
    margin-bottom: 50px;
  }
  .mob-nab {
    display: flex;
  }
  header .lower-head .category-model .categories .main-category {
    width: 45%;
  }
  .wishlist {
    padding: 2em 0;
    .wishlist-box {
      overflow-x: scroll;
      table {
        width: 650px;
        td.img-wrap {
          width: 65px;
        }
        tr {
          td {
            button {
              padding: 0.2em 0.5em;
            }
          }
        }
      }
    }
  }
  .categories .cat-cards .item {
    margin-bottom: 1.5em;
  }
  .product-info {
    margin-top: 2em;
  }
  .review-item figure img {
    width: 20%;
    display: block;
    margin: 0 auto;
  }
  .review-form form {
    margin-top: 2em;
    text-align: center;
  }
  .order-info {
    margin-top: 2em;
  }
  .tracking .track-result .tr-items .tr h3 span {
    margin-bottom: 1em;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .featured-category .feat-row a,
  .brands .brand-row a {
    width: 50%;
  }
  header .lower-head .search-box form button.search {
    width: 30%;
  }
  header .lower-head .search-box form input {
    width: 50%;
  }
  header .lower-head .category-model .categories .main-category {
    width: 100%;
  }
  .slider .main-slider .owl-nav .owl-prev {
    left: -20%;
  }
  .slider .main-slider .owl-nav .owl-next {
    right: -20%;
  }
  .categories .cat-cards .item .plank span.name a {
    font-size: 1em;
  }
  .categories .cat-cards .item .cartbtn {
    visibility: visible;
    opacity: 1;
  }
  .rev-sm {
    flex-direction: column-reverse;
  }
  .feat-item {
    .desc {
      h4 {
        font-size: 1em;
      }
      p {
        font-size: 0.8em;
      }
    }
  }
}
