.track {
  padding: 4em 0;
  background-image: url(https://cdn.pixabay.com/photo/2014/09/11/22/00/dock-441989_1280.jpg);
  background-color: #000000bd;
  background-blend-mode: overlay;
  .illustration-track {
    @include flexer(center, center);
    height: 100%;
    svg {
      fill: $primary-color;
      display: block;
      width: 200px;
      height: auto;
    }
  }
  .track-forms {
    border: 1px solid #e7e7e7;
    padding: 1em;
    h3 {
      font-size: 1.2em;
      font-weight: 600;
      padding-bottom: 1em;
      color: #fff;
      border-bottom: 1px solid #e7e7e7;
    }
    p {
      margin: 1em 0;
      color: #fff;
    }
    form {
      padding: 1em 0;
      input {
        padding: 0.5em;
        display: block;
      }
      input[type="button"] {
        background-color: $primary-color;
        color: #fff;
        border: 0;
        margin-top: 1em;
        &:focus {
          outline: 0;
        }
      }
    }
  }
}

.none {
  height: 500px;
  @include flexer(center, center);
  p {
    text-align: center;
    strong {
      font-size: 4em;
      display: block;
      animation: jello-vertical 0.9s infinite both;
      color: $primary-color;
    }
  }
}
.changepassword {
  padding: 2em 0;
  .changepassword-forms {
    .register-form {
      width: 340px;
      padding: 1em;
      margin: 0 auto;
      border: 1px solid #e7e7e7;
      h2 {
        font-size: 1.2em;
        padding-bottom: 1em;
        border-bottom: 1px solid #e7e7e7;
      }
      form {
        margin-top: 1em;
        input[type="submit"] {
          background-color: $primary-color;
          color: #fff;
          border: 0;
          padding: 0.5em 1em;
          &:focus {
            outline: 0;
          }
        }
      }
    }
  }
}

.wishlist {
  padding: 2em 0;
  .wishlist-box {
    table {
      width: 100%;
      tr {
        border-bottom: 1px solid #e7e7e7;
        td,
        th {
          padding: 1em 0;
        }
        td.img-wrap {
          width: 140px;
          img {
            width: 90%;
          }
        }
        td {
          button {
            border: 0;
            padding: 0.5em 1em;
            color: #fff;
            i:before {
              margin-left: 0;
              font-size: 1em;
            }
          }
          .removewish {
            background-color: #fd5353;
          }
          .addcart {
            background-color: $primary-color;
            margin-left: 1em;
          }
        }
      }
    }
  }
}

.checkout-box {
  padding: 1em;
  margin: 2em 0;
  border: 1px solid #e7e7e7;
  display: inline-block;
  ul {
    padding: 0;
    list-style: none;
    li {
      border-bottom: 1px dotted #e7e7e7;
      padding: 1em 0;
    }
  }
  .checkoutbtn {
    color: #fff;
    text-decoration: none;
    background-color: $primary-color;
    padding: 0.5em 1em;
    display: inline;
    cursor: pointer;
  }
}

a.orderbtn {
  color: #fff;
  text-decoration: none;
  background-color: $primary-color;
  padding: 0.5em 1em;
  display: inline;
  cursor: pointer;
  margin-top: 1em;
  display: inline-block;
}

.checkout {
  padding: 2em 0;
  .checkout-forms {
    h2 {
      font-size: 1.4em;
      font-weight: 600;
    }
  }
  .final-checkout {
    display: block;
    h2 {
      font-size: 1.2em;
      margin: 0;
      padding-bottom: 1em;
      border-bottom: 1px dotted #e7e7e7;
    }
    .total {
      display: block;
      background-color: $dark-text;
      color: #fff;
      padding: 1em;
    }
  }
}

.single-product {
  padding: 2em 0;
  .product-owl {
    &:hover {
      .owl-nav {
        button {
          i:before {
            margin-left: 0;
          }
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .owl-nav {
      button {
        i:before {
          margin-left: 0;
        }
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
      }
      button.owl-prev {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #0000004a;
        color: #fff;
        &:focus {
          outline: 0;
        }
      }
      button.owl-next {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #000;
        color: #fff;
        &:focus {
          outline: 0;
        }
      }
    }
  }
  #thumbs {
    .owl-item.current.active {
      .item {
        border: 2px solid $primary-color;
      }
    }
    .owl-item {
      .item {
        figure {
          margin-bottom: 0;
        }
      }
    }
  }
  .product-info {
    h1 {
      font-size: 1.5em;
      font-weight: 600;
    }
    .review-status {
      @include full-flexer;
      .rating {
        span {
          i:before {
            margin-left: 0;
            font-size: 1em;
            color: $star-color;
          }
        }
      }
      .stat {
        margin-left: 1em;
        color: $dark-text;
      }
    }
    .price {
      margin: 0.5em 0;
      font-size: 2em;
      color: $primary-color;
    }
    .description {
      p {
        font-size: 0.8em;
        color: $dark-text;
      }
      ul {
        padding-left: 1em;
        li {
          font-size: 0.8em;
          color: $dark-text;
        }
      }
      padding-bottom: 1em;
      border-bottom: 1px solid #e7e7e7;
    }
    .carto {
      margin-top: 1.5em;
      input {
        padding: 0.5em 0.8em;
        border: 1px solid #e7e7e7;
      }
      .crtbtn {
        background-color: $primary-color;
        color: #fff;
        border: 0;
        padding: 0.5em 1em;
        &:focus {
          outline: 0;
        }
      }
      span {
        color: green;
        font-weight: 900;
      }
    }
    .wish {
      margin: 1em 0;
      a {
        color: $dark-text;
        i:before {
          font-size: 1em;
          margin-left: 0;
        }
      }
    }
    .categories,
    .share {
      @include full-flexer;
      line-height: 1em;
      h3 {
        font-size: 1em;
        font-weight: 900;
        margin: 0;
      }
      ul {
        @include full-flexer;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 1em;
        li {
          margin-right: 0.5em;
          a {
            line-height: 18px;
            font-size: 1em;
            color: $dark-text;
            i:before {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  .reviews {
    margin: 2em 0;
    .nav {
      border: 0;
      @include flexer(center, center);
      .nav-item {
        flex-grow: unset;
        .nav-link {
          border: 0;
          font-weight: 600;
          text-transform: uppercase;
          color: $dark-text;
        }
        .nav-link.active {
          border: 0;
          color: #000;
          border-bottom: 4px solid $primary-color;
        }
      }
    }
    .tab-content {
      padding: 1em;
      border: 1px solid #e7e7e7;
      .review-box {
        .review-item {
          margin-bottom: 1em;
          figure {
            margin-bottom: 0;
          }
          .desc {
            padding: 1em;
            border: 1px solid #e7e7e7;
            .rating {
              span {
                i:before {
                  margin-left: 0;
                  font-size: 1em;
                  color: $star-color;
                }
              }
            }
            .meta {
              span {
                font-weight: 600;
              }
            }
          }
        }
      }
      .review-form {
        form {
          h3 {
            font-size: 1.2em;
            font-weight: 600;
          }
          textarea {
            width: 100%;
            margin: 1em 0;
            padding: 1em;
            border-color: #e7e7e7;
          }
          button {
            background-color: $primary-color;
            color: #fff;
            padding: 0.5em 1em;
            border: 0;
            &:focus {
              outline: 0;
            }
          }
        }
        .review-summary {
          height: 100%;
          @include flexer(center, center);
          flex-wrap: wrap;
          .row {
            width: 80%;
            .star-sum {
              padding-right: 2em;
              border-right: 1px dotted #e7e7e7;
              h4 {
                font-weight: 600;
                font-size: 1em;
                color: #000;
              }
              h5 {
                font-size: 0.9em;
                color: $dark-text;
              }
              .rating {
                span {
                  i:before {
                    margin-left: 0;
                    font-size: 1em;
                    color: $star-color;
                  }
                }
              }
            }
            .display-stars {
              .dis-item {
                color: $dark-text;
                span {
                  display: inline-block;
                  width: 50%;
                  background-color: #e7e7e7;
                  height: 4px;
                }
              }
            }
          }
        }
      }
    }
  }
  .owl-stage {
    @include full-flexer;
  }
  .owl-item {
    display: flex;
    .item {
      position: relative;
      transition: 0.3s;
      padding-bottom: 1em;
      @include full-flexer;
      border: 1px solid #cfcece;
      .cartbtn {
        border: 0;
        background-color: $primary-color;
        width: 90%;
        display: block;
        visibility: hidden;
        margin: 0 auto;
        margin-top: 1em;
        color: #fff;
        padding: 0.5em 1em;
        border-radius: 6px;
        transition: 0.5s;
        opacity: 0;
      }
      &:hover {
        box-shadow: $spreaded-box-shadow;
        .cartbtn {
          visibility: visible;
          opacity: 1;
        }
      }
      .img-box {
        height: 300px;
        img {
          object-fit: contain;
          height: 100%;
        }
      }
      i.flaticon-favourite-heart {
        position: absolute;
        right: 5%;
        top: 5%;
      }
      i.flaticon-favourite-heart.wished {
        color: $primary-color;
      }
      .plank {
        padding: 1em;
        border-top: 1px solid #cfcece;
        span.name {
          a {
            font-size: 1.2em;
            font-weight: 600;
            display: block;
            color: $dark-text;
          }
        }
        span.cost {
          display: block;
          color: $primary-color;
          padding-bottom: 0.5em;
          del {
            color: #9c9595;
          }
        }
        span.discount {
          border: 1px solid $primary-color;
          padding: 0.2em;
          font-size: 0.6em;
          display: block;
          width: 30%;
          text-align: center;
          color: $primary-color;
        }
        .rating {
          i:before {
            margin-left: 0;
            font-size: 1em;
            color: $star-color;
          }
        }
      }
    }
  }
}
