$primary-color: #f16624;
$secondary-color: #2d2b29;

$dark-text: #857d7d;

$simple-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.075);
$spreaded-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.075);

$star-color: #f6ab32;
