<footer>
  <div class="top__foot">
    <div class="wrapper">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <div class="foot__item">
            <div class="contants">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="226.051"
                height="143.349"
                viewBox="0 0 226.051 143.349"
              >
                <g
                  id="Group_44"
                  data-name="Group 44"
                  transform="translate(-156.32 -5609.967)"
                >
                  <g id="Group_42" data-name="Group 42">
                    <g id="Group_38" data-name="Group 38">
                      <g id="Group_36" data-name="Group 36">
                        <path
                          id="Path_55"
                          data-name="Path 55"
                          d="M270.009,5610.41s12.926,17.773-1.616,37.162c0,0-4.847,1.616-14.542-1.616l21,22.621,24.206-23.444a25,25,0,0,1-15.216,3.329S289.4,5629.8,270.009,5610.41Z"
                          fill="#1fabcc"
                          stroke="#fff"
                          stroke-miterlimit="10"
                          stroke-width="1.252"
                        />
                        <path
                          id="Path_56"
                          data-name="Path 56"
                          d="M279.723,5733.107s-12.926-17.773,1.616-37.162c0,0,4.847-1.616,14.542,1.616l-21.005-22.621-24.206,23.444a24.993,24.993,0,0,1,15.216-3.329S260.334,5713.718,279.723,5733.107Z"
                          fill="#ffcb08"
                          stroke="#fff"
                          stroke-miterlimit="10"
                          stroke-width="1.252"
                        />
                      </g>
                      <g id="Group_37" data-name="Group 37">
                        <path
                          id="Path_57"
                          data-name="Path 57"
                          d="M213.518,5676.616s17.773-12.926,37.162,1.615c0,0,1.615,4.848-1.616,14.542l22.62-21-23.443-24.206a25,25,0,0,1,3.328,15.216S232.907,5657.227,213.518,5676.616Z"
                          fill="#231f20"
                          stroke="#fff"
                          stroke-miterlimit="10"
                          stroke-width="1.252"
                        />
                        <path
                          id="Path_58"
                          data-name="Path 58"
                          d="M336.215,5666.9s-17.774,12.926-37.163-1.615c0,0-1.615-4.848,1.616-14.542l-22.62,21,23.443,24.206a25,25,0,0,1-3.328-15.216S316.826,5686.29,336.215,5666.9Z"
                          fill="#ec008c"
                          stroke="#fff"
                          stroke-miterlimit="10"
                          stroke-width="1.252"
                        />
                      </g>
                    </g>
                    <g id="Group_41" data-name="Group 41">
                      <g id="Group_39" data-name="Group 39">
                        <path
                          id="Path_59"
                          data-name="Path 59"
                          d="M156.32,5708.588h7.012v21.262h4.131v-21.262h7.012v-3.975H156.32Z"
                          fill="#fff"
                        />
                        <path
                          id="Path_60"
                          data-name="Path 60"
                          d="M191.875,5718.516a6.348,6.348,0,0,0,2.517-2.6,8.938,8.938,0,0,0,0-7.793,6.376,6.376,0,0,0-2.508-2.6,7.44,7.44,0,0,0-3.749-.92H177.6v25.254h4.149v-10.414h4.077l5.538,10.414h4.981l-5.933-10.733A6.849,6.849,0,0,0,191.875,5718.516Zm-10.127-9.945h6.265a2.837,2.837,0,0,1,1.554.425,2.788,2.788,0,0,1,1.032,1.207,4.221,4.221,0,0,1,.365,1.8,4.455,4.455,0,0,1-.382,1.822,2.727,2.727,0,0,1-2.569,1.632h-6.265Z"
                          fill="#fff"
                        />
                        <path
                          id="Path_61"
                          data-name="Path 61"
                          d="M213.666,5720.842a5.334,5.334,0,0,1-1.284,3.819,4.764,4.764,0,0,1-3.628,1.353,4.709,4.709,0,0,1-3.6-1.353,5.358,5.358,0,0,1-1.276-3.819v-16.228h-4.148v16.107a11.2,11.2,0,0,0,1.059,5.076,7.261,7.261,0,0,0,3.089,3.211,11.373,11.373,0,0,0,9.772,0,7.313,7.313,0,0,0,3.1-3.211,11.121,11.121,0,0,0,1.068-5.076v-16.107h-4.149Z"
                          fill="#fff"
                        />
                        <path
                          id="Path_62"
                          data-name="Path 62"
                          d="M236.187,5716.5a20.824,20.824,0,0,0-3.914-1.128l-.191-.035c-.07-.011-.134-.023-.191-.035s-.09-.019-.13-.026a.915.915,0,0,1-.13-.026,28.406,28.406,0,0,1-2.838-.685,4,4,0,0,1-1.693-1.016,2.592,2.592,0,0,1-.676-1.892v-.017a2.806,2.806,0,0,1,1.31-2.473,6.636,6.636,0,0,1,3.706-.877,8.775,8.775,0,0,1,2.95.538,12.106,12.106,0,0,1,2.968,1.58l2.014-3.419a14.981,14.981,0,0,0-2.543-1.45,14.249,14.249,0,0,0-2.673-.885,13.439,13.439,0,0,0-7.646.582,6.739,6.739,0,0,0-3.124,2.586,7.5,7.5,0,0,0-1.076,4.1v.017a6.686,6.686,0,0,0,1.146,4.183,5.983,5.983,0,0,0,2.777,2.048,25.234,25.234,0,0,0,4.165.99l.313.052a.331.331,0,0,0,.1.017.341.341,0,0,1,.1.017,20.482,20.482,0,0,1,2.586.6,3.67,3.67,0,0,1,1.632,1.007,2.642,2.642,0,0,1,.624,1.848v.018a2.869,2.869,0,0,1-1.4,2.551,7.226,7.226,0,0,1-3.931.9,11.564,11.564,0,0,1-3.845-.634,10.249,10.249,0,0,1-3.271-1.866l-2.205,3.315a12.269,12.269,0,0,0,2.682,1.719,14.181,14.181,0,0,0,3.142,1.05,16.843,16.843,0,0,0,3.5.356,13.317,13.317,0,0,0,5.1-.877,6.9,6.9,0,0,0,3.228-2.56,7.179,7.179,0,0,0,1.111-4.044v-.035a6.647,6.647,0,0,0-1.059-3.975A6.168,6.168,0,0,0,236.187,5716.5Z"
                          fill="#fff"
                        />
                        <path
                          id="Path_63"
                          data-name="Path 63"
                          d="M259.245,5704.614H241.09v3.975H248.1v21.262h4.131v-21.262h7.012Z"
                          fill="#fff"
                        />
                      </g>
                      <g id="Group_40" data-name="Group 40">
                        <path
                          id="Path_64"
                          data-name="Path 64"
                          d="M295.362,5719.974h4.478v.764a6.212,6.212,0,0,1-.581,2.786,4.111,4.111,0,0,1-1.658,1.787,4.931,4.931,0,0,1-2.5.617,5.366,5.366,0,0,1-2.543-.582,4.092,4.092,0,0,1-1.7-1.649,4.969,4.969,0,0,1-.6-2.473v-7.446a6.119,6.119,0,0,1,.59-2.751,4.379,4.379,0,0,1,1.658-1.84,4.684,4.684,0,0,1,2.491-.651,4.733,4.733,0,0,1,1.883.391,4.432,4.432,0,0,1,2.542,2.924H303.9a9.855,9.855,0,0,0-1.7-3.94,8.526,8.526,0,0,0-3.125-2.629,9.057,9.057,0,0,0-4.078-.929,9.325,9.325,0,0,0-4.73,1.172,8.022,8.022,0,0,0-3.159,3.306,10.5,10.5,0,0,0-1.12,4.947v7.446a9.334,9.334,0,0,0,1.137,4.669,7.821,7.821,0,0,0,3.2,3.115,9.965,9.965,0,0,0,4.773,1.1,9.324,9.324,0,0,0,4.729-1.172,8,8,0,0,0,3.159-3.315,10.545,10.545,0,0,0,1.12-4.955V5716h-8.748Z"
                          fill="#fff"
                        />
                        <path
                          id="Path_65"
                          data-name="Path 65"
                          d="M310.861,5704.614h-1.718v25.236H325.7v-3.975h-12.41V5719.3h10.5v-3.958h-10.5v-6.751H325.7v-3.975h-14.84Z"
                          fill="#fff"
                        />
                        <path
                          id="Path_66"
                          data-name="Path 66"
                          d="M345.349,5723.291,334.9,5704.614h-4.513v25.219h4.027v-18.392l10.414,18.392h4.547v-25.219h-4.027Z"
                          fill="#fff"
                        />
                        <rect
                          id="Rectangle_32"
                          data-name="Rectangle 32"
                          width="4.235"
                          height="25.237"
                          transform="translate(355.104 5704.614)"
                          fill="#fff"
                        />
                        <path
                          id="Path_67"
                          data-name="Path 67"
                          d="M377.129,5724.175a4.584,4.584,0,0,1-1.605,1.371,4.431,4.431,0,0,1-2.022.468,4.675,4.675,0,0,1-2.491-.642,4.226,4.226,0,0,1-1.623-1.84,6.494,6.494,0,0,1-.573-2.829v-6.925a6.493,6.493,0,0,1,.573-2.829,4.286,4.286,0,0,1,1.623-1.849,4.63,4.63,0,0,1,2.491-.651,4.266,4.266,0,0,1,2,.486,4.724,4.724,0,0,1,1.606,1.4,6.043,6.043,0,0,1,.989,2.126h4.27a11.345,11.345,0,0,0-1.675-4.331,8.341,8.341,0,0,0-3.072-2.8,8.735,8.735,0,0,0-4.122-.972,9.5,9.5,0,0,0-4.765,1.146,7.692,7.692,0,0,0-3.107,3.263,10.874,10.874,0,0,0-1.084,5.016v6.925a10.871,10.871,0,0,0,1.084,5.016,7.636,7.636,0,0,0,3.107,3.255,9.566,9.566,0,0,0,4.765,1.137,8.683,8.683,0,0,0,4.1-.972,8.316,8.316,0,0,0,3.073-2.8,11.549,11.549,0,0,0,1.692-4.331H378.1A5.741,5.741,0,0,1,377.129,5724.175Z"
                          fill="#fff"
                        />
                      </g>
                    </g>
                  </g>
                  <g id="Group_43" data-name="Group 43">
                    <path
                      id="Path_68"
                      data-name="Path 68"
                      d="M159.4,5749.66a2.712,2.712,0,0,1-1.127-.9,2.294,2.294,0,0,1-.421-1.324h1.278a1.681,1.681,0,0,0,.533,1.087,1.914,1.914,0,0,0,1.364.441,1.992,1.992,0,0,0,1.351-.428,1.39,1.39,0,0,0,.494-1.1,1.246,1.246,0,0,0-.291-.856,1.837,1.837,0,0,0-.724-.5,11.544,11.544,0,0,0-1.172-.369,10.339,10.339,0,0,1-1.457-.474,2.351,2.351,0,0,1-.935-.745,2.185,2.185,0,0,1-.388-1.363,2.363,2.363,0,0,1,.382-1.331,2.485,2.485,0,0,1,1.073-.9,3.781,3.781,0,0,1,1.588-.317,3.325,3.325,0,0,1,2.115.647,2.38,2.38,0,0,1,.928,1.712h-1.317a1.423,1.423,0,0,0-.553-.929,1.967,1.967,0,0,0-1.292-.4,1.872,1.872,0,0,0-1.225.389,1.327,1.327,0,0,0-.474,1.087,1.178,1.178,0,0,0,.283.817,1.816,1.816,0,0,0,.7.48,12.024,12.024,0,0,0,1.166.376,10.962,10.962,0,0,1,1.463.495,2.427,2.427,0,0,1,.948.751,2.177,2.177,0,0,1,.4,1.376,2.416,2.416,0,0,1-.356,1.265,2.617,2.617,0,0,1-1.054.962,3.479,3.479,0,0,1-1.647.369A3.918,3.918,0,0,1,159.4,5749.66Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_69"
                      data-name="Path 69"
                      d="M176.029,5742.888a2.526,2.526,0,0,1,1.041,1.047,3.5,3.5,0,0,1,.382,1.7v4.256h-1.186v-4.085a2.338,2.338,0,0,0-.533-1.653,1.878,1.878,0,0,0-1.443-.574,1.929,1.929,0,0,0-1.489.6,2.464,2.464,0,0,0-.554,1.732v3.98h-1.185v-4.085a2.339,2.339,0,0,0-.534-1.653,1.877,1.877,0,0,0-1.443-.574,1.932,1.932,0,0,0-1.489.6,2.469,2.469,0,0,0-.553,1.732v3.98h-1.2v-7.221h1.2v1.041a2.377,2.377,0,0,1,.955-.869,2.9,2.9,0,0,1,1.325-.3,3.127,3.127,0,0,1,1.607.408,2.5,2.5,0,0,1,1.041,1.2,2.378,2.378,0,0,1,1-1.186,2.954,2.954,0,0,1,1.555-.421A3.151,3.151,0,0,1,176.029,5742.888Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_70"
                      data-name="Path 70"
                      d="M179.416,5744.311a3.241,3.241,0,0,1,1.231-1.3,3.384,3.384,0,0,1,1.746-.461,3.214,3.214,0,0,1,1.647.408,2.722,2.722,0,0,1,1.041,1.028v-1.318h1.213v7.221h-1.213v-1.344a2.831,2.831,0,0,1-1.06,1.047,3.175,3.175,0,0,1-1.641.415,3.274,3.274,0,0,1-1.739-.474,3.316,3.316,0,0,1-1.225-1.331,4.136,4.136,0,0,1-.449-1.949A4.049,4.049,0,0,1,179.416,5744.311Zm5.336.534a2.338,2.338,0,0,0-.89-.93,2.523,2.523,0,0,0-2.457-.006,2.3,2.3,0,0,0-.883.922,2.93,2.93,0,0,0-.329,1.424,2.993,2.993,0,0,0,.329,1.442,2.331,2.331,0,0,0,.883.935,2.377,2.377,0,0,0,1.226.323,2.408,2.408,0,0,0,1.231-.323,2.32,2.32,0,0,0,.89-.935,2.978,2.978,0,0,0,.329-1.43A2.939,2.939,0,0,0,184.752,5744.845Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_71"
                      data-name="Path 71"
                      d="M190.424,5742.881a2.789,2.789,0,0,1,1.429-.342v1.238h-.316q-2.018,0-2.016,2.187v3.927h-1.2v-7.221h1.2v1.173A2.3,2.3,0,0,1,190.424,5742.881Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_72"
                      data-name="Path 72"
                      d="M194.7,5743.659v4.255a1.006,1.006,0,0,0,.224.744,1.1,1.1,0,0,0,.777.218h.883v1.015H195.5a2.146,2.146,0,0,1-1.5-.462,1.973,1.973,0,0,1-.5-1.515v-4.255h-.936v-.989h.936v-1.818h1.2v1.818h1.884v.989Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_73"
                      data-name="Path 73"
                      d="M213.092,5740.708l-2.662,9.183h-1.343l-2.135-7.392-2.214,7.392-1.33.013-2.57-9.2h1.278l2,7.786,2.213-7.786h1.344l2.108,7.759,2.016-7.759Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_74"
                      data-name="Path 74"
                      d="M214.41,5744.311a3.241,3.241,0,0,1,1.231-1.3,3.384,3.384,0,0,1,1.746-.461,3.214,3.214,0,0,1,1.647.408,2.722,2.722,0,0,1,1.041,1.028v-1.318h1.213v7.221h-1.213v-1.344a2.831,2.831,0,0,1-1.06,1.047,3.172,3.172,0,0,1-1.64.415,3.275,3.275,0,0,1-1.74-.474,3.323,3.323,0,0,1-1.225-1.331,4.135,4.135,0,0,1-.448-1.949A4.049,4.049,0,0,1,214.41,5744.311Zm5.336.534a2.338,2.338,0,0,0-.89-.93,2.523,2.523,0,0,0-2.457-.006,2.286,2.286,0,0,0-.882.922,2.919,2.919,0,0,0-.33,1.424,2.982,2.982,0,0,0,.33,1.442,2.322,2.322,0,0,0,.882.935,2.38,2.38,0,0,0,1.226.323,2.408,2.408,0,0,0,1.231-.323,2.32,2.32,0,0,0,.89-.935,2.978,2.978,0,0,0,.329-1.43A2.939,2.939,0,0,0,219.746,5744.845Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_75"
                      data-name="Path 75"
                      d="M229.536,5742.67l-4.349,10.62H223.95l1.422-3.478-2.912-7.142h1.331l2.267,5.85,2.239-5.85Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_76"
                      data-name="Path 76"
                      d="M235.715,5743.659v4.255a1.006,1.006,0,0,0,.224.744,1.1,1.1,0,0,0,.777.218h.883v1.015h-1.081a2.148,2.148,0,0,1-1.5-.462,1.973,1.973,0,0,1-.5-1.515v-4.255h-.936v-.989h.936v-1.818h1.2v1.818H237.6v.989Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_77"
                      data-name="Path 77"
                      d="M240.359,5749.548a3.273,3.273,0,0,1-1.291-1.311,4.014,4.014,0,0,1-.468-1.97,3.9,3.9,0,0,1,.481-1.956,3.32,3.32,0,0,1,1.311-1.305,4.028,4.028,0,0,1,3.716,0,3.341,3.341,0,0,1,1.311,1.3,3.9,3.9,0,0,1,.48,1.963,3.848,3.848,0,0,1-.493,1.97,3.42,3.42,0,0,1-1.338,1.311,3.824,3.824,0,0,1-1.871.461A3.69,3.69,0,0,1,240.359,5749.548Zm3.051-.9a2.308,2.308,0,0,0,.915-.909,2.921,2.921,0,0,0,.349-1.476,2.96,2.96,0,0,0-.342-1.475,2.25,2.25,0,0,0-.9-.9,2.588,2.588,0,0,0-2.4,0,2.17,2.17,0,0,0-.876.9,3.047,3.047,0,0,0-.33,1.475,3.14,3.14,0,0,0,.323,1.49,2.139,2.139,0,0,0,.863.9,2.427,2.427,0,0,0,1.186.3A2.533,2.533,0,0,0,243.41,5748.652Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_78"
                      data-name="Path 78"
                      d="M252.283,5749.66a2.712,2.712,0,0,1-1.127-.9,2.294,2.294,0,0,1-.421-1.324h1.278a1.681,1.681,0,0,0,.533,1.087,1.914,1.914,0,0,0,1.364.441,1.992,1.992,0,0,0,1.351-.428,1.39,1.39,0,0,0,.494-1.1,1.246,1.246,0,0,0-.291-.856,1.837,1.837,0,0,0-.724-.5,11.544,11.544,0,0,0-1.172-.369,10.34,10.34,0,0,1-1.457-.474,2.351,2.351,0,0,1-.935-.745,2.185,2.185,0,0,1-.388-1.363,2.363,2.363,0,0,1,.382-1.331,2.485,2.485,0,0,1,1.073-.9,3.781,3.781,0,0,1,1.588-.317,3.325,3.325,0,0,1,2.115.647,2.38,2.38,0,0,1,.928,1.712h-1.317a1.423,1.423,0,0,0-.553-.929,1.967,1.967,0,0,0-1.292-.4,1.872,1.872,0,0,0-1.225.389,1.327,1.327,0,0,0-.474,1.087,1.178,1.178,0,0,0,.283.817,1.816,1.816,0,0,0,.7.48,12.024,12.024,0,0,0,1.166.376,10.962,10.962,0,0,1,1.463.495,2.427,2.427,0,0,1,.948.751,2.177,2.177,0,0,1,.4,1.376,2.416,2.416,0,0,1-.356,1.265,2.617,2.617,0,0,1-1.054.962,3.479,3.479,0,0,1-1.647.369A3.918,3.918,0,0,1,252.283,5749.66Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_79"
                      data-name="Path 79"
                      d="M265.28,5746.729h-5.771a2.272,2.272,0,0,0,2.346,2.266,2.214,2.214,0,0,0,1.3-.363,1.911,1.911,0,0,0,.731-.968h1.292a3.1,3.1,0,0,1-1.16,1.693,3.5,3.5,0,0,1-2.161.652,3.643,3.643,0,0,1-1.838-.461,3.252,3.252,0,0,1-1.271-1.311,4.056,4.056,0,0,1-.462-1.97,4.123,4.123,0,0,1,.448-1.963,3.147,3.147,0,0,1,1.259-1.3,3.756,3.756,0,0,1,1.864-.454,3.621,3.621,0,0,1,1.818.448,3.093,3.093,0,0,1,1.219,1.232,3.641,3.641,0,0,1,.428,1.772A6.9,6.9,0,0,1,265.28,5746.729Zm-1.5-2.155a1.968,1.968,0,0,0-.823-.751,2.566,2.566,0,0,0-1.153-.256,2.223,2.223,0,0,0-1.548.579,2.363,2.363,0,0,0-.731,1.608h4.558A2.213,2.213,0,0,0,263.778,5744.574Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_80"
                      data-name="Path 80"
                      d="M268.364,5743.659v4.255a1.01,1.01,0,0,0,.224.744,1.1,1.1,0,0,0,.778.218h.882v1.015h-1.08a2.149,2.149,0,0,1-1.5-.462,1.977,1.977,0,0,1-.5-1.515v-4.255h-.935v-.989h.935v-1.818h1.2v1.818h1.884v.989Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_81"
                      data-name="Path 81"
                      d="M278.1,5742.67v7.221h-1.2v-1.068a2.32,2.32,0,0,1-.955.863,2.947,2.947,0,0,1-1.351.31,3.235,3.235,0,0,1-1.515-.349,2.533,2.533,0,0,1-1.061-1.048,3.46,3.46,0,0,1-.389-1.7v-4.23h1.186v4.072a2.3,2.3,0,0,0,.541,1.64,1.929,1.929,0,0,0,1.476.573,1.97,1.97,0,0,0,1.514-.592,2.438,2.438,0,0,0,.554-1.727v-3.966Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_82"
                      data-name="Path 82"
                      d="M282.389,5742.967a3.175,3.175,0,0,1,1.641-.415,3.378,3.378,0,0,1,1.745.461,3.245,3.245,0,0,1,1.233,1.3,4.06,4.06,0,0,1,.447,1.944,4.147,4.147,0,0,1-.447,1.949,3.285,3.285,0,0,1-2.978,1.8,3.141,3.141,0,0,1-1.627-.415,2.956,2.956,0,0,1-1.074-1.034v4.756h-1.2V5742.67h1.2V5744A2.866,2.866,0,0,1,282.389,5742.967Zm3.512,1.864a2.282,2.282,0,0,0-.889-.922,2.464,2.464,0,0,0-1.233-.316,2.408,2.408,0,0,0-1.218.322,2.35,2.35,0,0,0-.9.936,3.181,3.181,0,0,0,0,2.846,2.347,2.347,0,0,0,.9.935,2.384,2.384,0,0,0,1.218.323,2.415,2.415,0,0,0,1.233-.323,2.318,2.318,0,0,0,.889-.935,3.005,3.005,0,0,0,.329-1.442A2.941,2.941,0,0,0,285.9,5744.831Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_83"
                      data-name="Path 83"
                      d="M298.985,5740.708l-2.991,5.718v3.465h-1.2v-3.465l-3.005-5.718h1.331l2.267,4.65,2.266-4.65Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_84"
                      data-name="Path 84"
                      d="M301.561,5749.548a3.269,3.269,0,0,1-1.292-1.311,4.014,4.014,0,0,1-.468-1.97,3.9,3.9,0,0,1,.481-1.956,3.32,3.32,0,0,1,1.311-1.305,4.028,4.028,0,0,1,3.716,0,3.34,3.34,0,0,1,1.311,1.3,3.9,3.9,0,0,1,.48,1.963,3.848,3.848,0,0,1-.493,1.97,3.42,3.42,0,0,1-1.338,1.311,3.825,3.825,0,0,1-1.871.461A3.684,3.684,0,0,1,301.561,5749.548Zm3.05-.9a2.317,2.317,0,0,0,.916-.909,2.921,2.921,0,0,0,.348-1.476,2.96,2.96,0,0,0-.342-1.475,2.25,2.25,0,0,0-.9-.9,2.588,2.588,0,0,0-2.4,0,2.176,2.176,0,0,0-.876.9,3.047,3.047,0,0,0-.33,1.475,3.14,3.14,0,0,0,.323,1.49,2.144,2.144,0,0,0,.863.9,2.427,2.427,0,0,0,1.186.3A2.533,2.533,0,0,0,304.611,5748.652Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_85"
                      data-name="Path 85"
                      d="M315.085,5742.67v7.221h-1.2v-1.068a2.332,2.332,0,0,1-.955.863,2.947,2.947,0,0,1-1.351.31,3.235,3.235,0,0,1-1.515-.349A2.533,2.533,0,0,1,309,5748.6a3.449,3.449,0,0,1-.389-1.7v-4.23H309.8v4.072a2.305,2.305,0,0,0,.54,1.64,1.933,1.933,0,0,0,1.477.573,1.97,1.97,0,0,0,1.514-.592,2.438,2.438,0,0,0,.554-1.727v-3.966Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_86"
                      data-name="Path 86"
                      d="M319.216,5742.881a2.793,2.793,0,0,1,1.43-.342v1.238h-.317q-2.016,0-2.015,2.187v3.927h-1.2v-7.221h1.2v1.173A2.3,2.3,0,0,1,319.216,5742.881Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_87"
                      data-name="Path 87"
                      d="M331.061,5745.569a2.4,2.4,0,0,1,.658.817,2.374,2.374,0,0,1-.112,2.3,2.4,2.4,0,0,1-1.034.883,3.69,3.69,0,0,1-1.6.323h-3.425v-9.183h3.293a3.734,3.734,0,0,1,1.6.309,2.253,2.253,0,0,1,.988.837,2.186,2.186,0,0,1,.329,1.186,2.045,2.045,0,0,1-.441,1.349,2.473,2.473,0,0,1-1.166.771A1.955,1.955,0,0,1,331.061,5745.569Zm-4.315-.9h2.016a1.944,1.944,0,0,0,1.3-.4,1.527,1.527,0,0,0,0-2.187,1.99,1.99,0,0,0-1.331-.4h-1.989Zm3.518,3.808a1.451,1.451,0,0,0,.5-1.172,1.487,1.487,0,0,0-.527-1.206,2.126,2.126,0,0,0-1.41-.442h-2.081v3.241h2.121A2.1,2.1,0,0,0,330.264,5748.481Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_88"
                      data-name="Path 88"
                      d="M340.026,5742.67v7.221h-1.2v-1.068a2.329,2.329,0,0,1-.956.863,2.943,2.943,0,0,1-1.35.31,3.229,3.229,0,0,1-1.515-.349,2.527,2.527,0,0,1-1.061-1.048,3.449,3.449,0,0,1-.389-1.7v-4.23h1.186v4.072a2.3,2.3,0,0,0,.54,1.64,1.93,1.93,0,0,0,1.476.573,1.972,1.972,0,0,0,1.515-.592,2.442,2.442,0,0,0,.554-1.727v-3.966Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_89"
                      data-name="Path 89"
                      d="M343.123,5749.726a2.508,2.508,0,0,1-1.042-.791,2.093,2.093,0,0,1-.421-1.166H342.9a1.21,1.21,0,0,0,.507.883,1.925,1.925,0,0,0,1.192.343,1.737,1.737,0,0,0,1.081-.3.927.927,0,0,0,.4-.764.753.753,0,0,0-.422-.705,5.86,5.86,0,0,0-1.3-.455,9.5,9.5,0,0,1-1.311-.428,2.319,2.319,0,0,1-.87-.646,1.685,1.685,0,0,1-.362-1.126,1.712,1.712,0,0,1,.329-1.015,2.235,2.235,0,0,1,.936-.731,3.368,3.368,0,0,1,1.383-.27,2.954,2.954,0,0,1,1.937.606,2.183,2.183,0,0,1,.79,1.66h-1.2a1.246,1.246,0,0,0-.455-.909,1.7,1.7,0,0,0-1.114-.342,1.723,1.723,0,0,0-1.027.276.857.857,0,0,0-.383.725.793.793,0,0,0,.232.586,1.658,1.658,0,0,0,.579.369,9.561,9.561,0,0,0,.969.309,10.691,10.691,0,0,1,1.264.415,2.217,2.217,0,0,1,.837.613,1.635,1.635,0,0,1,.362,1.068,1.823,1.823,0,0,1-.329,1.067,2.2,2.2,0,0,1-.929.744,3.318,3.318,0,0,1-1.377.27A3.726,3.726,0,0,1,343.123,5749.726Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_90"
                      data-name="Path 90"
                      d="M348.973,5741.261a.817.817,0,0,1,.579-1.4.754.754,0,0,1,.561.237.847.847,0,0,1,0,1.16.755.755,0,0,1-.561.237A.787.787,0,0,1,348.973,5741.261Zm1.159,1.409v7.221h-1.2v-7.221Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_91"
                      data-name="Path 91"
                      d="M357.827,5743.335a3.072,3.072,0,0,1,.816,2.3v4.256h-1.185v-4.085a2.318,2.318,0,0,0-.541-1.653,1.931,1.931,0,0,0-1.475-.574,1.975,1.975,0,0,0-1.509.594,2.418,2.418,0,0,0-.56,1.726v3.992h-1.2v-7.221h1.2v1.028a2.381,2.381,0,0,1,.968-.856,3.012,3.012,0,0,1,1.351-.3A2.935,2.935,0,0,1,357.827,5743.335Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_92"
                      data-name="Path 92"
                      d="M367.154,5746.729h-5.771a2.272,2.272,0,0,0,2.346,2.266,2.214,2.214,0,0,0,1.3-.363,1.91,1.91,0,0,0,.731-.968h1.292a3.1,3.1,0,0,1-1.16,1.693,3.5,3.5,0,0,1-2.161.652,3.643,3.643,0,0,1-1.838-.461,3.252,3.252,0,0,1-1.271-1.311,4.057,4.057,0,0,1-.462-1.97,4.123,4.123,0,0,1,.448-1.963,3.147,3.147,0,0,1,1.259-1.3,3.756,3.756,0,0,1,1.864-.454,3.621,3.621,0,0,1,1.818.448,3.093,3.093,0,0,1,1.219,1.232,3.641,3.641,0,0,1,.428,1.772A6.9,6.9,0,0,1,367.154,5746.729Zm-1.5-2.155a1.968,1.968,0,0,0-.823-.751,2.566,2.566,0,0,0-1.153-.256,2.223,2.223,0,0,0-1.548.579,2.363,2.363,0,0,0-.731,1.608h4.558A2.213,2.213,0,0,0,365.652,5744.574Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_93"
                      data-name="Path 93"
                      d="M369.843,5749.726a2.511,2.511,0,0,1-1.041-.791,2.1,2.1,0,0,1-.422-1.166h1.239a1.213,1.213,0,0,0,.507.883,1.927,1.927,0,0,0,1.192.343,1.735,1.735,0,0,0,1.081-.3.925.925,0,0,0,.4-.764.754.754,0,0,0-.423-.705,5.822,5.822,0,0,0-1.3-.455,9.6,9.6,0,0,1-1.311-.428,2.316,2.316,0,0,1-.869-.646,1.68,1.68,0,0,1-.362-1.126,1.705,1.705,0,0,1,.329-1.015,2.231,2.231,0,0,1,.935-.731,3.371,3.371,0,0,1,1.383-.27,2.95,2.95,0,0,1,1.937.606,2.184,2.184,0,0,1,.791,1.66h-1.2a1.245,1.245,0,0,0-.454-.909,1.7,1.7,0,0,0-1.114-.342,1.72,1.72,0,0,0-1.027.276.857.857,0,0,0-.383.725.793.793,0,0,0,.231.586,1.667,1.667,0,0,0,.579.369,9.646,9.646,0,0,0,.969.309,10.715,10.715,0,0,1,1.265.415,2.225,2.225,0,0,1,.837.613,1.64,1.64,0,0,1,.362,1.068,1.824,1.824,0,0,1-.33,1.067,2.186,2.186,0,0,1-.928.744,3.321,3.321,0,0,1-1.377.27A3.731,3.731,0,0,1,369.843,5749.726Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_94"
                      data-name="Path 94"
                      d="M376.72,5749.726a2.511,2.511,0,0,1-1.041-.791,2.093,2.093,0,0,1-.421-1.166H376.5a1.214,1.214,0,0,0,.508.883,1.925,1.925,0,0,0,1.192.343,1.733,1.733,0,0,0,1.08-.3.925.925,0,0,0,.4-.764.753.753,0,0,0-.422-.705,5.86,5.86,0,0,0-1.3-.455,9.567,9.567,0,0,1-1.312-.428,2.316,2.316,0,0,1-.869-.646,1.685,1.685,0,0,1-.362-1.126,1.705,1.705,0,0,1,.329-1.015,2.238,2.238,0,0,1,.935-.731,3.371,3.371,0,0,1,1.383-.27,2.95,2.95,0,0,1,1.937.606,2.18,2.18,0,0,1,.791,1.66h-1.2a1.241,1.241,0,0,0-.454-.909,1.7,1.7,0,0,0-1.114-.342,1.722,1.722,0,0,0-1.027.276.857.857,0,0,0-.383.725.8.8,0,0,0,.231.586,1.667,1.667,0,0,0,.579.369,9.73,9.73,0,0,0,.969.309,10.652,10.652,0,0,1,1.265.415,2.225,2.225,0,0,1,.837.613,1.64,1.64,0,0,1,.362,1.068,1.824,1.824,0,0,1-.33,1.067,2.186,2.186,0,0,1-.928.744,3.321,3.321,0,0,1-1.377.27A3.731,3.731,0,0,1,376.72,5749.726Z"
                      fill="#fff"
                    />
                  </g>
                </g>
              </svg>
              <p>
                Office No. 10, Atrium Center, Khalid Bin Waleed St. Bur Dubai
                <br />P.O. Box No. 111224<br />info@trustgenic.com<br />+971 4
                327 1664
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <div class="foot__item">
            <div class="contants">
              <div class="foot__title">
                <h3>Blogs</h3>
              </div>
              <p>
                Why to setup business in UAE?<br />
                Mainland company formation.
              </p>
              <ul>
                <li>
                  <a href="" target="_blank"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="12.81"
                      height="22.584"
                      viewBox="0 0 12.81 22.584"
                    >
                      <path
                        id="Path_46"
                        data-name="Path 46"
                        d="M1543.711,36.176v2.809h4.157l-.674,4.326h-3.483v9.143h-4.677V43.311h-3.807V38.985h3.807v-3.3c0-3.75,2.233-5.814,5.66-5.814a22.88,22.88,0,0,1,3.343.294v3.68h-1.882A2.16,2.16,0,0,0,1543.711,36.176Z"
                        transform="translate(-1535.227 -29.87)"
                      />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" target="_blank"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20.969"
                      height="21.312"
                      viewBox="0 0 20.969 21.312"
                    >
                      <g
                        id="Group_24"
                        data-name="Group 24"
                        transform="translate(-1605.288 -29.778)"
                      >
                        <path
                          id="Path_49"
                          data-name="Path 49"
                          d="M1615.944,51.09a10.656,10.656,0,1,1,0-21.312,10.253,10.253,0,0,1,7.146,2.788l-2.9,2.789c-3.793-3.661-10.849-.911-10.849,5.079a6.676,6.676,0,0,0,6.6,6.729,5.762,5.762,0,0,0,6.05-4.593h-6.05V38.9h10.145a9.329,9.329,0,0,1,.168,1.779C1626.257,46.763,1622.093,51.09,1615.944,51.09Z"
                        />
                      </g>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" target="_blank">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="22"
                      height="17.868"
                      viewBox="0 0 22 17.868"
                    >
                      <path
                        id="Path_47"
                        data-name="Path 47"
                        d="M1697.753,35.855A12.835,12.835,0,0,1,1678,46.66a9.3,9.3,0,0,0,1.089.056,9.036,9.036,0,0,0,5.6-1.926,4.517,4.517,0,0,1-4.216-3.127,5.8,5.8,0,0,0,.851.069,4.8,4.8,0,0,0,1.187-.153,4.509,4.509,0,0,1-3.615-4.425V37.1a4.533,4.533,0,0,0,2.038.572,4.515,4.515,0,0,1-1.4-6.03,12.821,12.821,0,0,0,9.3,4.718,5.139,5.139,0,0,1-.111-1.033,4.513,4.513,0,0,1,7.8-3.085,8.9,8.9,0,0,0,2.862-1.089,4.494,4.494,0,0,1-1.983,2.485,9.05,9.05,0,0,0,2.6-.7,9.685,9.685,0,0,1-2.262,2.331C1697.753,35.464,1697.753,35.66,1697.753,35.855Z"
                        transform="translate(-1678 -30.816)"
                      />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" target="_blank"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="19.25"
                      height="19.25"
                      viewBox="0 0 19.25 19.25"
                    >
                      <path
                        id="Path_48"
                        data-name="Path 48"
                        d="M1768.625,31.513V47.988a1.385,1.385,0,0,1-1.375,1.387h-16.5a1.38,1.38,0,0,1-1.371-1.387V31.513a1.381,1.381,0,0,1,1.371-1.388h16.5A1.385,1.385,0,0,1,1768.625,31.513Zm-13.2,3.017a1.654,1.654,0,1,0-1.654,1.654A1.657,1.657,0,0,0,1755.421,34.53Zm-.224,12.1V37.439h-2.857v9.186h2.857Zm10.691-5.036c0-2.474-.537-4.378-3.425-4.378a3,3,0,0,0-2.7,1.482h-.039V37.439h-2.738v9.186h2.854V42.079c0-1.2.227-2.359,1.715-2.359,1.461,0,1.482,1.371,1.482,2.437v4.468h2.853Z"
                        transform="translate(-1749.375 -30.125)"
                      />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <div class="foot__item">
            <div class="contants">
              <div class="foot__title">
                <h3>Newsletter</h3>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna ali
              </p>
              <form action="">
                <div class="inline__form">
                  <input
                    type="email"
                    name=""
                    id=""
                    placeholder="Enter Your Email"
                  />
                  <button type="submit">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25.229"
                      height="25.231"
                      viewBox="0 0 25.229 25.231"
                    >
                      <g
                        id="Group_52"
                        data-name="Group 52"
                        transform="translate(-1619.496 -6004.742)"
                      >
                        <path
                          id="Path_99"
                          data-name="Path 99"
                          d="M1644.706,6006.562l-3.154,20.554a1.574,1.574,0,0,1-2.158,1.216l-6.229-2.571-2.992,3.637a1.577,1.577,0,0,1-2.793-1v-5.026l-6.909-2.858a1.579,1.579,0,0,1-.187-2.825l22.076-12.732A1.578,1.578,0,0,1,1644.706,6006.562Zm-1.557-.242-22.077,12.739,5.593,2.306,12.581-10.723a.3.3,0,0,1,.419.414l-9.831,11.62,10.161,4.2Zm-11.507,18.809-2.685-1.108v4.376Z"
                          fill="#fff"
                        />
                      </g>
                    </svg>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom__foot">
    <div class="wrapper">
      <div class="bt__row">
        <div class="copy">
          <h4>
            <span id="year"></span> Copyright | Trustgenic | designed by
            <a
              href="https://serviceonus.com/www.121merchant.com"
              target="_blank"
            >
              121Merchant</a
            >
            &
            <a href="https://www.thesunbi.com/" target="_blank">
              SunBi Technologies</a
            >
          </h4>
        </div>
        <div class="bt__menu">
          <ul class="bottom__menu">
            <li><a href="">Home</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
